
/* * CSS Layout
* Copyright 2013, Throttle Studios
* www.throttlestudios.com
* 2013 */


/* TABLE OF CONTENTS
======================================================================================================================================================
#Base 960 Grid (Small Desktop/Tablet Landscape)
#Tablet (Portrait)
#Mobile (Landscape)
#Mobile (Portrait)
	


/* #Base 960 Grid (Small Desktop/Tablet Landscape)
======================================================================================================================================================
======================================================================================================================================================
====================================================================================================================================================== */



/* //// HEADER */

/* Logo */
#header { padding: 12px 0 0 0; }
.logo { float: left; width: 340px; padding: 0 0 0 30px; }
.logo img { float: left; width: 50px; height: auto; }
.logotype { float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; color: #191919; font-size: 22px; line-height: 22px; text-transform: uppercase; padding: 13px 0 0 10px; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.logotagline { float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: italic; color: #ea5f03; font-size: 11px; line-height: 10px; padding: 0 0 0 12px; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }

/* Utility Nav */
.nav-utilityContainer { float: right; padding: 6px 30px 0 0; }
.nav-utility { margin: 0; padding: 0; }
.nav-utility ul { float: left; margin: 0; padding: 0; }
.nav-utility li { float: left; vertical-align: middle; font-family: "PlutoSansRegular", sans-serif; font-style: normal; color: #333; font-size: 10px; line-height: 10px; text-transform: uppercase; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.nav-utility li:hover { position: relative; z-index: 1002; cursor: default; }
.nav-utility li:hover > ul { visibility: visible; }
.nav-utility li:hover > a { text-decoration: none; }
.nav-utility a { display: block; padding: 0 7px 0 7px; margin: 0; color: #333; text-transform: uppercase; }
.nav-utility li.last-child	a { cursor: default; font-family: "PlutoSansBold", sans-serif; padding: 0 0 0 7px; }
#nav-rule { color: #999; }

/* Utility Buttons */
.nav-utilityBtnsContainer { float: left; padding: 7px 10px 0 95px; }
/* When not logged in: { float: right; padding: 7px 30px 0 0; }*/
.utilityBtn { float: left; margin: 0 0 0 10px; border-radius: 4px; overflow: hidden; background-image: url(../images/btn_bg-orange.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
.utilityBtn:hover { background-image: url(../images/btn_bg-orangeDark.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
#utilityBtn-chat { background-image: url(../images/btn_bg-grayLight.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
#utilityBtn-chat:hover { }
#utilityBtn-phone { background-image: url(../images/btn_bg-blue.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
#utilityBtn-phone:hover { background-image: url(../images/btn_bg-blueDark.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
.utilityBtn-icon { float: left; padding: 3px 6px 4px 6px; border-right: 1px solid #ed8b4e; background-image: url(../images/btn_bg-orangeDark.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
#utilityBtn-chat .utilityBtn-icon { border-right: 1px solid #b8b8b8; background-image: url(../images/btn_bg-grayLight.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
.utilityBtn-icon img { float: left; width: 14px; height: auto; }
.utilityBtn-title { float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; color: #fff; font-size: 11px; line-height: 10px; text-transform: uppercase; padding: 6px 7px 5px 6px; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.utilityBtn-title .weightRegular-styleItalic { text-transform: none; }
.nav-logOffContainer { float: right; padding: 7px 23px 0 0; }
/* When not logged in: { display: none; }*/
.nav-logOffContainer .utilityBtn-title { font-family: "PlutoSansRegular", sans-serif; font-style: normal; color: #888; font-size: 10px; line-height: 10px; text-transform: uppercase; }

/* Main Product Nav */
#navMain { padding: 12px 0 0 0; }
.nav-productsContainer { width: 940px; margin: 0 10px 0 10px; }
ul.nav-products, ul.nav-products li, ul.nav-products ul { list-style: none; margin: 0; padding: 0; }
ul.nav-products { float: left; width: 100%; height: 36px; position: relative; z-index: 1000; background-color: #191919; margin: 0; }
ul.nav-products a:link, ul.nav-products a:visited { color: #fff; text-decoration: none; }
ul.nav-products a:hover { color: #ea5f03; }
ul.nav-products a:active { color: #ea5f03; }
ul.nav-products li { float: left; height: 35px; vertical-align: middle; padding: 0; font-family: 'PlutoSansBold', sans-serif; font-style: normal; font-size: 11px; line-height: 35px; color: #fff; text-transform: uppercase; border-left: 1px solid #191919; border-right: 1px solid #191919; }
ul.nav-products li.drop { padding: 0 10px 0 10px; }
ul.nav-products li.static { padding: 0 10px 0 9px; border-left: 1px solid #454545; }
ul.nav-products li a { display: block; }
ul.nav-products li:hover { height: 36px; position: static; z-index: 2; cursor: default; background-color: #000; color: #ea5f03; border-left: 1px solid #454545; border-right: 1px solid #454545; }
ul.nav-products li:hover a { color: #ea5f03; }
ul.nav-products li.dropLast:hover { border-left: 1px solid #454545; border-right: 1px solid #191919; }
ul.nav-products li.static:hover { height: 35px; color: #fff; border-left: 1px solid #454545; border-right: 1px solid #ea5f03; background-image: url(../images/btn_bg-orange.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
ul.nav-products li.static:hover a { color: #fff; }
ul.nav-products li.static a:hover { color: #fff; }
ul.nav-products li:hover ul { visibility: visible; }
ul.nav-products li.drop-components:hover ul li.dropVert-first ul { visibility: visible; }
ul.nav-products li.drop-components:hover a.subLevel { color: #fff; }
ul.nav-products ul { height: 274px; visibility: hidden; position: absolute; top: 100%; left: 0; z-index: -1; width: 100%; margin: -1px 0 0 0; background-image: url(../images/bg_navGradient.png); background-repeat: repeat-x; background-position: left top; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; border-top: 1px solid #454545; }

/* Main Product Nav -- Components Nav */
ul.nav-products ul li.dropVert { float: none; position: static; height: 36px; width: 130px; margin: 0 0 0 20px; padding: 0 12px 0 12px; border-left: none; border-right: none; font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 10px; line-height: 34px; color: #888; text-transform: uppercase; background-color: #000; border-left: none; border-right: none; }
ul.nav-products ul li.dropVert-first { padding: 11px 12px 0 12px; }
ul.nav-products ul li.dropVert-last { padding: 0 12px 11px 12px; }
ul.nav-products ul li.dropVert:hover a.subLevel { color: #ea5f03; }
ul.nav-products ul li.dropVert:hover ul { visibility: visible; }
ul.nav-products ul li.dropVert ul { height: 274px; width: 765px; float: right; visibility: hidden; position: absolute; top: 1px; left: 175px; z-index: 1001; background-image: url(../images/bg_navGradient.png); background-repeat: repeat-x; background-position: left top; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; border-top: none; }
.productDrop { height: 274px; width: 100%; float: left; }
.productDrop-completekits { background-image: url(../images/nav_completekits.png); background-repeat: no-repeat; background-position: 340px bottom; }
.productDrop-appspecifickits { background-image: url(../images/nav_appspecifickits.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-motorcyclekits { background-image: url(../images/nav_motorcyclekits.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-hidsystems { background-image: url(../images/nav_hidsystems.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-projectors { width: 765px; background-image: url(../images/nav_projectors.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-ballasts { width: 765px; background-image: url(../images/nav_ballasts.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-bulbs { width: 765px; background-image: url(../images/nav_bulbs.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-halogenBulbs { width: 765px; background-image: url(../images/nav_halogenBulbs.png); background-repeat: no-repeat; background-position: 400px bottom; }
.productDrop-shrouds { width: 765px; background-image: url(../images/nav_shrouds.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-harnesses { width: 765px; background-image: url(../images/nav_harnesses.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-lenses { width: 765px; background-image: url(../images/nav_lenses.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-ledlighting { background-image: url(../images/nav_ledbulbs.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-ledhalos { background-image: url(../images/nav_ledhalos.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-leddaytime { background-image: url(../images/nav_leddaytime.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-offroad { background-image: url(../images/nav_offroad.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-accessories { background-image: url(../images/nav_accessories.png); background-repeat: no-repeat; background-position: right bottom; }
.productDrop-housings { background-image: url(../images/nav_housings.png); background-repeat: no-repeat; background-position: 520px bottom; }
.productDrop-content { width: 420px; float: left; padding: 0; margin: 30px 0 0 30px; }
.productDrop-completekits .productDrop-content { width: 335px; }
.productDrop-appspecifickits .productDrop-content { width: 320px; }
.productDrop-motorcyclekits .productDrop-content { width: 290px; }
.productDrop-hidsystems .productDrop-content { width: 370px; }
.productDrop-projectors .productDrop-content { width: 290px; }
.productDrop-ballasts .productDrop-content { width: 320px; }
.productDrop-ballasts .productDrop-info { width: 250px; }
.productDrop-bulbs .productDrop-content { width: 350px; }
.productDrop-halogenBulbs .productDrop-content { width: 410px; }
.productDrop-shrouds .productDrop-content { width: 260px; }
.productDrop-harnesses .productDrop-content { width: 310px; }
.productDrop-lenses .productDrop-content { width: 410px; }
.productDrop-ledlighting .productDrop-content { width: 400px; }
.productDrop-ledhalos .productDrop-content { width: 310px; }
.productDrop-leddaytime .productDrop-content { width: 400px; }
.productDrop-offroad .productDrop-content { width: 420px; }
.productDrop-accessories .productDrop-content { width: 400px; }
.productDrop-headline { float: left; font-family: 'PlutoSansLight', sans-serif; font-style: normal; font-size: 30px; line-height: 34px; color: #fff; text-transform: none; padding: 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.productDrop-info { float: left; font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 13px; line-height: 16px; color: #999; text-transform: none; padding: 12px 0 0 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.productDrop-content .generalBtn-orange { margin: 15px 0 0 0; }
.dropVert-title { float: left; width: 130px; border-bottom: 1px solid #454545; }
.dropVert .productDrop-info { font-size: 12px; }

/* //// FOOTER */
.footerMain-bg { margin: 30px 0 0 0; background-color: #191919; }
.footerSitemap { width: 940px; float: left; margin: 0 10px 0 10px; padding: 25px 0 0 0; border-bottom: 1px solid #454545; }
.footer-col { height: 330px; float: left; margin: 0; }
.footer-col1 { width: 85px; padding: 0; border-right: 1px solid #454545; }
.footer-col2 { width: 170px; padding: 0 0 0 20px; border-right: 1px solid #454545; background-image: url(../images/bg_footerGradient.png); background-repeat: repeat-x; background-position: left bottom; }
.footer-col3 { width: 180px; padding: 0 0 0 20px; }
.footer-col4 { width: 230px; padding: 0 0 0 20px; }
.footer-col5 { width: 180px; padding: 0 0 0 20px; }
.footerSitemap ul { width: 100%; float: left; padding: 0 0 30px 0; }
.footertitles { float: left; font-family: "PlutoSansMedium", sans-serif; font-style: normal; color: #fff; font-size: 12px; line-height: 12px; text-transform: uppercase; padding: 0 0 10px 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.footerSitemap ul li { width: 100%; float: left; }
.footerSitemap ul a { font-family: "PlutoSansLight", sans-serif; font-style: normal; font-size: 11px; color: #999; line-height: 16px; }
.footerSitemap ul a:hover { color: #fff; }
.iconLink { width: 100%; float: left; padding: 0; margin: 0; }
.iconLink-iconContainer { width: 16px; height: 16px; float: left; padding: 0; margin: 0 7px 0 0; overflow: hidden; }
.iconLink-iconContainer img { width: 16px; height: auto; }
.iconLink-icon_message img { margin-top: -17px; }
.iconLink-icon_chat img { margin-top: -33px; }
.footerSitemap .iconLink a { color: #ea5f03; line-height: 18px; }
.footerSitemap .iconLink a.tel { font-family: "PlutoSansMedium", sans-serif; }
.footerHome { width: 26px; float: left; padding: 0 0 10px 0; margin: 0 28px 0 28px; overflow: hidden; border-bottom: 1px solid #454545; }
.footerHome img { width: 26px; height: auto; }
.footerSitemap ul.footerlinks-home { padding: 0 0 15px 0; }
.socialMedia { width: 26px; height: 26px; float: left; padding: 0 28px 0 28px; margin: 0 0 12px 0; overflow: hidden; }
.socialMedia img { width: 26px; height: auto; }
.socialMedia-icon_facebook img { margin-top: -26px; }
.socialMedia-icon_twitter img { margin-top: -52px; }
.socialMedia-icon_instagram img { margin-top: -78px; }
.socialMedia-icon_linkedin img { margin-top: -104px; }
.footerRights { width: 940px; float: left; padding: 0; margin: 0 10px 10px 10px; }
.copyright { float: left; font-family: "PlutoSansRegular", sans-serif; font-style: normal; color: #999; font-size: 10px; padding: 20px 0 20px 10px; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.payment { float: right; padding: 13px 3px 0 0; margin: 0; }
.paymentOption { width: 35px; height: 21px; float: left; padding: 0; margin: 0 7px 0 0; overflow: hidden; }
.paymentOption img { width: 35px; height: auto; }
.paymentOption-mastercard img { margin-top: -21px; }
.paymentOption-amex img { margin-top: -42px; }
.paymentOption-discover img { margin-top: -63px; }
.paymentOption-google img { margin-top: -84px; }
.paymentOption-paypal img { margin-top: -105px; }

/* //// LIGHTBOX */
#lightbox-shadow { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; background: #000; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9; }
.lightboxContainer { position: absolute; top: inherit; left: 50%; margin-left: -230px; z-index: 1001; border-radius: 6px; background-color: #262626; padding: 10px; }
.lightboxContent { width: 440px; float: left; margin: 0; padding: 0; }
.lightboxContent .lightboxHeadline { width: 280px; float: left; margin: 0; padding: 0; }
.lightboxContent .section { width: 95%; margin: 10px; }
.lightboxContent .product-spec { padding: 2px 0 5px 0; }
.lightboxContent .navBtn-close { width: 13px; float: right; margin: 0; padding: 10px; }
.lightboxContent .navBtn-close img { width: 100%; height: auto; }


/* #Tablet (Portrait) size to standard 960 (devices and browsers)
======================================================================================================================================================
======================================================================================================================================================
====================================================================================================================================================== */
@media only screen and (min-width:768px) and (max-width:959px) {
	
/* //// HEADER */

/* Logo */
.logo { float: left; width: 290px; padding: 0 0 0 10px; }
.logotype { float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; color: #191919; font-size: 18px; line-height: 22px; text-transform: uppercase; padding: 13px 0 0 10px; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }

/* Utility Nav */
.nav-utilityContainer { float: right; padding: 6px 10px 0 0; }

/* Utility Buttons */
.nav-utilityBtnsContainer { float: left; padding: 7px 0 0 45px; }
/* When not logged in: { float: right; padding: 7px 10px 0 0; }*/
.utilityBtn { float: left; margin: 0 0 0 7px; border-radius: 4px; overflow: hidden; background-image: url(../images/btn_bg-orange.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
.nav-logOffContainer { float: right; padding: 7px 3px 0 0; }
/* When not logged in: { display: none; }*/

/* Main Product Nav */
.nav-productsContainer { width: 700px; margin: 0 10px 0 10px; }
ul.nav-products, ul.nav-products li, ul.nav-products ul { list-style: none; margin: 0; padding: 0; -webkit-appearance: none; }
ul.nav-products { float: left; width: 100%; position: relative; z-index: 1000; background-color: #191919; margin: 0; }
ul.nav-products a:link, ul.nav-products a:visited { color: #fff; text-decoration: none; }
ul.nav-products a:hover { color: #ea5f03; }
ul.nav-products a:active { color: #ea5f03; }
ul.nav-products li { float: left; height: 35px; vertical-align: middle; padding: 0; font-family: 'PlutoSansBold', sans-serif; font-style: normal; font-size: 10px; line-height: 35px; color: #fff; text-transform: uppercase; border-left: 1px solid #191919; border-right: 1px solid #191919; }
ul.nav-products li.drop { padding: 0 6px 0 7px; }
ul.nav-products li.static { padding: 0 6px 0 7px; border-left: 1px solid #454545; }
ul.nav-products li.allProducts { padding: 0 10px 0 10px; }
ul.nav-products li a { display: block; }
ul.nav-products li:hover { height: 36px; position: static; z-index: 2; cursor: default; background-color: #000; color: #ea5f03; border-left: 1px solid #454545; border-right: 1px solid #454545; }
ul.nav-products li:hover a { color: #ea5f03; }
ul.nav-products li.dropLast:hover { border-left: 1px solid #454545; border-right: 1px solid #191919; }
ul.nav-products li.static:hover { height: 35px; border-left: 1px solid #454545; border-right: 1px solid #ea5f03; background-image: url(../images/btn_bg-orange.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
ul.nav-products li.static:hover a { color: #fff; }
ul.nav-products li.static a:hover { color: #fff; }
ul.nav-products li:hover ul { visibility: visible; }
ul.nav-products li.drop-components:hover ul li.dropVert-first ul { visibility: visible; }
ul.nav-products li.drop-components:hover a.subLevel { color: #fff; }
ul.nav-products ul { height: 274px; visibility: hidden; position: absolute; top: 100%; left: 0; z-index: -1; width: 100%; margin: -1px 0 0 0; background-image: url(../images/bg_navGradient.png); background-repeat: repeat-x; background-position: left top; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; border-top: 1px solid #454545; }

/* Main Product Nav -- Components Nav */
ul.nav-products ul li.dropVert { float: none; position: static; height: 36px; width: 130px; margin: 0 0 0 20px; padding: 0 12px 0 12px; border-left: none; border-right: none; font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 10px; line-height: 34px; color: #888; text-transform: uppercase; background-color: #000; border-left: none; border-right: none; }
ul.nav-products ul li.dropVert-first { padding: 11px 12px 0 12px; }
ul.nav-products ul li.dropVert-last { padding: 0 12px 11px 12px; }
ul.nav-products ul li.dropVert:hover { color: #ea5f03; }
ul.nav-products ul li.dropVert:hover ul { visibility: visible; }
ul.nav-products ul li.dropVert ul { height: 274px; width: 525px; float: right; visibility: hidden; position: absolute; top: 1px; left: 175px; z-index: 1001; background-image: url(../images/bg_navGradient.png); background-repeat: repeat-x; background-position: left top; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; border-top: none; }
.productDrop { height: 274px; width: 100%; float: left; }
.productDrop-completekits { background-image: url(../images/nav_completekits.png); background-repeat: no-repeat; background-position: 270px bottom; }
.productDrop-appspecifickits { background-image: url(../images/nav_appspecifickits.png); background-repeat: no-repeat; background-position: 170px bottom; }
.productDrop-motorcyclekits { background-image: url(../images/nav_motorcyclekits.png); background-repeat: no-repeat; background-position: 190px bottom; }
.productDrop-hidsystems { background-image: url(../images/nav_hidsystems.png); background-repeat: no-repeat; background-position: 300px bottom; }
.productDrop-projectors { width: 525px; background-image: url(../images/nav_projectors.png); background-repeat: no-repeat; background-position: 230px bottom; }
.productDrop-ballasts { width: 525px; background-image: url(../images/nav_ballasts.png); background-repeat: no-repeat; background-position: 180px bottom; }
.productDrop-bulbs { width: 525px; background-image: url(../images/nav_bulbs.png); background-repeat: no-repeat; background-position: 260px bottom; }
.productDrop-halogenBulbs { width: 525px; background-image: url(../images/nav_halogenBulbs.png); background-repeat: no-repeat; background-position: 190px bottom; }
.productDrop-shrouds { width: 525px; background-image: url(../images/nav_shrouds.png); background-repeat: no-repeat; background-position: 230px bottom; }
.productDrop-harnesses { width: 525px; background-image: url(../images/nav_harnesses.png); background-repeat: no-repeat; background-position: 210px bottom; }
.productDrop-lenses { width: 525px; background-image: url(../images/nav_lenses.png); background-repeat: no-repeat; background-position: 280px bottom; }
.productDrop-ledlighting { background-image: url(../images/nav_ledlighting.png); background-repeat: no-repeat; background-position: 245px bottom; }
.productDrop-ledhalos { background-image: url(../images/nav_ledhalos.png); background-repeat: no-repeat; background-position: 215px bottom; }
.productDrop-leddaytime { background-image: url(../images/nav_leddaytime.png); background-repeat: no-repeat; background-position: 110px bottom; }
.productDrop-offroad { background-image: url(../images/nav_offroad.png); background-repeat: no-repeat; background-position: 310px bottom; }
.productDrop-accessories { background-image: url(../images/nav_accessories.png); background-repeat: no-repeat; background-position: 287px bottom; }
.productDrop-housings { background-image: url(../images/nav_housings.png); background-repeat: no-repeat; background-position: 420px bottom; }
.productDrop-content { width: 420px; float: left; padding: 0; margin: 30px 0 0 30px; }
.productDrop-completekits .productDrop-content { width: 260px; }
.productDrop-appspecifickits .productDrop-content { width: 210px; }
.productDrop-motorcyclekits .productDrop-content { width: 230px; }
.productDrop-hidsystems .productDrop-content { width: 280px; }
.productDrop-projectors .productDrop-content { width: 230px; }
.productDrop-ballasts .productDrop-content { width: 260px; }
.productDrop-ballasts .productDrop-info { width: 190px; }
.productDrop-bulbs .productDrop-content { width: 320px; }
.productDrop-bulbs .productDrop-info { width: 250px; }
.productDrop-halogenBulbs .productDrop-content { width: 230px; }
.productDrop-shrouds .productDrop-content { width: 220px; }
.productDrop-harnesses .productDrop-content { width: 260px; }
.productDrop-lenses .productDrop-content { width: 260px; }
.productDrop-ledlighting .productDrop-content { width: 250px; }
.productDrop-ledhalos .productDrop-content { width: 260px; }
.productDrop-leddaytime .productDrop-content { width: 270px; }
.productDrop-offroad .productDrop-content { width: 320px; }
.productDrop-accessories .productDrop-content { width: 280px; }
.productDrop-headline { font-size: 24px; line-height: 28px; }
.productDrop-info { float: left; font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 12px; line-height: 16px; color: #999; text-transform: none; padding: 12px 0 0 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.productDrop-content .generalBtn-orange { margin: 15px 0 0 0; }
.dropVert-title { float: left; width: 130px; border-bottom: 1px solid #454545; }
.dropVert .productDrop-info { font-size: 12px; }

/* //// FOOTER */
.footerMain-bg { margin: 30px 0 0 0; background-color: #191919; }
.footerSitemap { width: 700px; float: left; margin: 0 10px 0 10px; padding: 25px 0 0 0; border-bottom: 1px solid #454545; }

.footer-col1 { width: 56px; padding: 0; border-right: 1px solid #454545; }
.footer-col2 { width: 140px; padding: 0 0 0 15px; border-right: 1px solid #454545; background-image: url(../images/bg_footerGradient.png); background-repeat: repeat-x; background-position: left bottom; }
.footer-col3 { width: 135px; padding: 0 0 0 15px; }
.footer-col4 { width: 175px; padding: 0 0 0 15px; }
.footer-col5 { width: 130px; padding: 0 0 0 15px; }
.footerSitemap ul { width: 100%; float: left; padding: 0 0 30px 0; }
.footertitles { float: left; font-family: "PlutoSansMedium", sans-serif; font-style: normal; color: #fff; font-size: 11px; line-height: 12px; text-transform: uppercase; padding: 0 0 10px 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.footerSitemap ul li { width: 100%; float: left; }
.footerSitemap ul a { font-family: "PlutoSansLight", sans-serif; font-style: normal; font-size: 10px; color: #999; line-height: 16px; }
.footerSitemap ul a:hover { color: #fff; }
.iconLink { width: 100%; float: left; padding: 0; margin: 0; }
.iconLink-iconContainer { width: 16px; height: 16px; float: left; padding: 0; margin: 0 7px 0 0; overflow: hidden; }
.footerSitemap .iconLink a { color: #ea5f03; line-height: 18px; }
.footerSitemap .iconLink a.tel { font-family: "PlutoSansMedium", sans-serif; }
.footerHome { width: 26px; float: left; padding: 0 0 10px 0; margin: 0 15px 0 10px; overflow: hidden; border-bottom: 1px solid #454545; }
.footerHome img { width: 26px; height: auto; }
.footerSitemap ul.footerlinks-home { padding: 0 0 15px 0; }
.socialMedia { width: 26px; height: 26px; float: left; padding: 0 15px 0 10px; margin: 0 0 12px 0; overflow: hidden; }
.footerRights { width: 700px; }
.copyright { float: left; font-family: "PlutoSansRegular", sans-serif; font-style: normal; color: #999; font-size: 9px; padding: 20px 0 20px 10px; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.payment { float: right; padding: 13px 3px 0 0; margin: 0; }
.paymentOption { width: 35px; height: 21px; float: left; padding: 0; margin: 0 7px 0 0; overflow: hidden; }

}

/* #Mobile (Landscape) size to Tablet Portrait (devices and browsers)
======================================================================================================================================================
======================================================================================================================================================
====================================================================================================================================================== */
@media only screen and (min-width:480px) and (max-width:767px) {

/* //// HEADER */

/* Logo */
.logo { float: left; width: 290px; padding: 0 0 0 10px; }
.logotype { float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; color: #191919; font-size: 18px; line-height: 22px; text-transform: uppercase; padding: 13px 0 0 10px; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }

/* Utility Nav */
.nav-utilityContainer { float: right; padding: 6px 0 0 0; }
.nav-utility a { display: block; padding: 0 10px 0 7px; margin: 0; color: #666; text-transform: uppercase; }
.nav-utility li.last-child	a { cursor: default; font-family: "PlutoSansMedium", sans-serif; font-size: 12px; }

/* Utility Buttons */
.nav-utilityBtnsContainer { float: right; padding: 12px 10px 0 0; }
.utilityBtn { float: left; margin: 0 0 0 10px; border-radius: 4px; overflow: hidden; background-image: url(../images/btn_bg-orange.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
#utilityBtn-chat { background-image: url(../images/btn_bg-gray.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
.utilityBtn-icon { float: left; padding: 3px 6px 4px 6px; border-right: none; background-image: none; }
#utilityBtn-chat .utilityBtn-icon { border-right: none; background-image: none; }
.utilityBtn-icon img { float: left; width: 14px; height: auto; }
.utilityBtn-title { display: none; }
.nav-logOffContainer { float: right; padding: 5px 5px 0 0; }
.nav-logOffContainer .utilityBtn-title { display: block; }

/* Mobile Product Nav */
#navMobile { padding: 12px 0 0 0; }
.nav-productsContainer { width: 460px; margin: 0; }
ul.nav-productsMobile ul /* DropDown Nav Item as a whole */ { display: none; position: absolute; z-index: 2000; left: 0; top: 35px; padding: 0; margin: 0; list-style: none; background: #212121; }
ul.nav-productsMobile > li { float: left; position: relative; }
ul.nav-productsMobile > li > a /* Top Level DropDown Nav Item */ { display: block; width: 460px; height: 35px; float: left; position: relative; z-index: 10; outline: 0; font-family: "PlutoSansBold", sans-serif; font-style: normal; font-size: 14px; line-height: 34px; color: #fff; letter-spacing: 1px; text-indent: 10px; text-transform: uppercase; text-decoration: none; padding: 0; background-color: #191919; background-image: url(../images/icon_menu2x.png); background-repeat: no-repeat; background-position: 432px 10px; background-size: 16px auto; -webkit-background-size: 16px auto; -moz-background-size: 16px auto; }
ul.nav-productsMobile img /* Do not remove - needed gif to make work */ { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none; cursor: pointer; z-index: 100; }
ul.nav-productsMobile ul li a /* DropDown Nav Item */ { text-decoration: none; width: 460px; display: block; white-space: nowrap; padding: 0; border-bottom: 1px solid #191919; font-family: "PlutoSansRegular", sans-serif; font-style: normal; font-size: 11px; line-height: 32px; color: #e5e5e5; text-indent: 20px; text-transform: uppercase; }
ul.nav-productsMobile ul li a:hover { color: #fff; background: #ea5f03; }
ul.nav-productsMobile li.category /* DropDown Nav Item - Category title */ { width: 460px; display: block; white-space: nowrap; padding: 0; margin: 0; border-bottom: 1px solid #191919; border-top: 1px solid #333; font-family: "PlutoSansBold", sans-serif; font-style: normal; font-size: 11px; line-height: 32px; color: #fff; text-indent: 10px; text-transform: uppercase; }
ul.nav-productsMobile li.category a	/* DropDown Nav Item - Category title */ { width: 460px; display: block; white-space: nowrap; padding: 0; border-bottom: none; border-top: none; text-decoration: none; font-family: "PlutoSansBold", sans-serif; font-style: normal; font-size: 11px; line-height: 32px; color: #fff; text-indent: 10px; text-transform: uppercase; }
ul.nav-productsMobile li.categoryEnd a { border-bottom: 1px solid #191919; }
ul.nav-productsMobile li.categoryStatic a { color: #999; }
ul.nav-productsMobile > li > a:focus /* Top Level DropDown Nav Item - on-click state */ { color: #ea5f03; }
ul.nav-productsMobile > li > a.drop:focus /* Top Level DropDown Nav Item - active state */ { background-image: url(../images/icon_menux2x.png); background-repeat: no-repeat; background-position: 434px 10px; background-size: 13px auto; -webkit-background-size: 13px auto; -moz-background-size: 13px auto; }
ul.nav-productsMobile > li > a:focus ~ ul { display: block; }
ul.nav-productsMobile > li > a:focus + img { display: block; }
ul.nav-productsMobile ul:hover { display: block; }

/* //// FOOTER */
.footerMain-bg { margin: 30px 0 0 0; background-color: #191919; }
.footerSitemap { width: 460px; float: left; margin: 0; padding: 25px 0 0 0; border-bottom: 1px solid #454545; }
.footer-col { height: 285px; float: left; margin: 0; }
.footer-col1 { height: 410px; width: 56px; padding: 0; border-right: 1px solid #454545; }
.footer-col2 { height: 410px; width: 160px; padding: 0 0 0 20px; border-right: 1px solid #454545; background-image: url(../images/bg_footerGradient.png); background-repeat: repeat-x; background-position: left bottom; }
.footer-col4 { width: 175px; height: 225px; padding: 0 0 0 20px; }
.footer-col5 { width: 130px; height: 170px; padding: 0 0 0 20px; }
.footerSitemap ul { width: 100%; float: left; padding: 0 0 20px 0; }
.footertitles { float: left; font-family: "PlutoSansMedium", sans-serif; font-style: normal; color: #fff; font-size: 11px; line-height: 12px; text-transform: uppercase; padding: 0 0 10px 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.footerSitemap ul li { width: 100%; float: left; }
.footerSitemap ul a { font-family: "PlutoSansLight", sans-serif; font-style: normal; font-size: 10px; color: #999; line-height: 16px; }
.footerSitemap ul a:hover { color: #fff; }
.iconLink { width: 100%; float: left; padding: 0; margin: 0; }
.iconLink-iconContainer { width: 16px; height: 16px; float: left; padding: 0; margin: 0 7px 0 0; overflow: hidden; }
.footerSitemap .iconLink a { color: #ea5f03; line-height: 18px; }
.footerSitemap .iconLink a.tel { font-family: "PlutoSansMedium", sans-serif; }
.footerHome { width: 26px; float: left; padding: 0 0 10px 0; margin: 0 15px 0 10px; overflow: hidden; border-bottom: 1px solid #454545; }
.footerHome img { width: 26px; height: auto; }
.footerSitemap ul.footerlinks-home { padding: 0 0 15px 0; }
.socialMedia { width: 26px; height: 26px; float: left; padding: 0 15px 0 10px; margin: 0 0 12px 0; overflow: hidden; }
.footerRights { width: 460px; margin: 0 0 10px 0; }
.copyright { float: left; font-family: "PlutoSansRegular", sans-serif; font-style: normal; color: #999; font-size: 9px; padding: 20px 0 0 10px; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.payment { float: left; padding: 10px 3px 20px 10px; margin: 0; }
.paymentOption { width: 35px; height: 21px; float: left; padding: 0; margin: 0 7px 0 0; overflow: hidden; }

/* //// LIGHTBOX */
.lightboxContainer { margin-left: -200px; }
.lightboxContent { width: 380px; max-height: 200px; overflow: scroll; }

}

/* #Mobile (Portrait) size to Mobile Landscape Size (devices and browsers)
======================================================================================================================================================
======================================================================================================================================================
====================================================================================================================================================== */
@media only screen and (max-width:479px) {

/* //// HEADER */

/* Logo */
.logo { float: left; width: 300px; padding: 0; }
.logotype { float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; color: #191919; font-size: 19px; line-height: 22px; text-transform: uppercase; padding: 13px 0 0 10px; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }

/* Utility Nav */
.nav-utilityContainer { float: left; padding: 12px 0 0 0; }
.nav-utility a { display: block; padding: 0 0 0 88px; margin: 0; color: #666; text-transform: uppercase; }
.nav-utility li.last-child	a { cursor: default; font-family: "PlutoSansMedium", sans-serif; font-size: 12px; line-height: 12px; }

/* Utility Buttons */
.nav-utilityBtnsContainer { float: left; padding: 0 10px 0 50px; }
.utilityBtn { float: left; margin: 0 0 0 12px; border-radius: 4px; overflow: hidden; background-image: url(../images/btn_bg-orange.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
#utilityBtn-chat { background-image: url(../images/btn_bg-gray.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
.utilityBtn-icon { float: left; padding: 3px 6px 4px 6px; border-right: none; background-image: none; }
#utilityBtn-chat .utilityBtn-icon { border-right: none; background-image: none; }
.utilityBtn-icon img { float: left; width: 14px; height: auto; }
.utilityBtn-title { display: none; }
.nav-logOffContainer { float: right; padding: 5px 5px 0 0; }
.nav-logOffContainer .utilityBtn-title { display: block; }

/* Mobile Product Nav */
#navMobile { padding: 12px 0 0 0; }
.nav-productsContainer { width: 300px; margin: 0; }
ul.nav-productsMobile ul /* DropDown Nav Item as a whole */ { display: none; position: absolute; z-index: 2000; left: 0; top: 35px; padding: 0; margin: 0; list-style: none; background: #212121; }
ul.nav-productsMobile > li { float: left; position: relative; }
ul.nav-productsMobile > li > a /* Top Level DropDown Nav Item */ { display: block; width: 300px; height: 35px; float: left; position: relative; z-index: 10; outline: 0; font-family: "PlutoSansBold", sans-serif; font-style: normal; font-size: 14px; line-height: 34px; color: #fff; letter-spacing: 1px; text-indent: 10px; text-transform: uppercase; text-decoration: none; padding: 0; background-color: #191919; background-image: url(../images/icon_menu2x.png); background-repeat: no-repeat; background-position: 272px 10px; background-size: 16px auto; -webkit-background-size: 16px auto; -moz-background-size: 16px auto; }
ul.nav-productsMobile img /* Do not remove - needed gif to make work */ { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none; cursor: pointer; z-index: 100; }
ul.nav-productsMobile ul li a /* DropDown Nav Item */ { text-decoration: none; width: 300px; display: block; white-space: nowrap; padding: 0; border-bottom: 1px solid #191919; font-family: "PlutoSansRegular", sans-serif; font-style: normal; font-size: 11px; line-height: 32px; color: #e5e5e5; text-indent: 20px; text-transform: uppercase; }
ul.nav-productsMobile ul li a:hover { color: #fff; background: #ea5f03; }
ul.nav-productsMobile li.category /* DropDown Nav Item - Category title */ { width: 300px; display: block; white-space: nowrap; padding: 0; margin: 0; border-bottom: 1px solid #191919; border-top: 1px solid #333; font-family: "PlutoSansBold", sans-serif; font-style: normal; font-size: 11px; line-height: 32px; color: #fff; text-indent: 10px; text-transform: uppercase; }
ul.nav-productsMobile li.category a	/* DropDown Nav Item - Category title */ { width: 300px; display: block; white-space: nowrap; padding: 0; border-bottom: none; border-top: none; text-decoration: none; font-family: "PlutoSansBold", sans-serif; font-style: normal; font-size: 11px; line-height: 32px; color: #fff; text-indent: 10px; text-transform: uppercase; }
ul.nav-productsMobile li.categoryEnd a { border-bottom: 1px solid #191919; }
ul.nav-productsMobile li.categoryStatic a { color: #999; }
ul.nav-productsMobile > li > a:focus /* Top Level DropDown Nav Item - on-click state */ { color: #ea5f03; }
ul.nav-productsMobile > li > a.drop:focus /* Top Level DropDown Nav Item - active state */ { background-image: url(../images/icon_menux2x.png); background-repeat: no-repeat; background-position: 274px 10px; background-size: 13px auto; -webkit-background-size: 13px auto; -moz-background-size: 13px auto; }
ul.nav-productsMobile > li > a:focus ~ ul { display: block; }
ul.nav-productsMobile > li > a:focus + img { display: block; }
ul.nav-productsMobile ul:hover { display: block; }

/* //// FOOTER */
.footerMain-bg { margin: 30px 0 0 0; background-color: #191919; }
.footerSitemap { width: 300px; float: left; margin: 0; padding: 25px 0 0 0; border-bottom: 1px solid #454545; }
.footer-col { height: 270px; float: left; margin: 0; }
.footer-col1 { width: 300px; height: 40px; padding: 0; border-right: none; border-bottom: 1px solid #454545; }
.footer-col2 { height: 390px; width: 120px; padding: 0 0 0 10px; margin: 20px 0 0 0; border-right: 1px solid #454545; background-image: none; }
.footer-col4 { width: 152px; height: 215px; padding: 0 0 0 15px; margin: 20px 0 0 0; }
.footer-col5 { width: 152px; height: 160px; padding: 0 0 0 15px; }
.footerSitemap ul { width: 100%; float: left; padding: 0 0 20px 0; }
.footertitles { float: left; font-family: "PlutoSansMedium", sans-serif; font-style: normal; color: #fff; font-size: 10px; line-height: 12px; text-transform: uppercase; padding: 0 0 5px 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.footerSitemap ul li { width: 100%; float: left; }
.footerSitemap ul a { font-family: "PlutoSansLight", sans-serif; font-style: normal; font-size: 10px; color: #999; line-height: 16px; }
.footerSitemap ul a:hover { color: #fff; }
.iconLink { width: 100%; float: left; padding: 0; margin: 0; }
.iconLink-iconContainer { width: 16px; height: 16px; float: left; padding: 0; margin: 0 7px 0 0; overflow: hidden; }
.footerSitemap .iconLink a { color: #ea5f03; line-height: 18px; }
.footerSitemap .iconLink a.tel { font-family: "PlutoSansMedium", sans-serif; }
.footerHome { width: 26px; height: 26px; float: left; padding: 0 20px 0 0; margin: 0 20px 0 10px; overflow: hidden; border-bottom: none; border-right: 1px solid #454545; }
.footerHome img { width: 26px; height: auto; }
.footerSitemap ul.footerlinks-home { width: 62px; padding: 0 0 15px 0; }
.footerSitemap ul.footerlinks-social { width: 210px; }
.socialMedia { width: 26px; height: 26px; float: left; padding: 0 0 0 15px; margin: 0 0 12px 0; overflow: hidden; }
.footerRights { width: 300px; margin: 0 0 10px 0; }
.copyright { float: left; font-family: "PlutoSansRegular", sans-serif; font-style: normal; color: #999; font-size: 9px; line-height: 12px; padding: 20px 0 0 10px; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.payment { float: left; padding: 10px 3px 20px 10px; margin: 0; }
.paymentOption { width: 35px; height: 21px; float: left; padding: 0; margin: 0 7px 0 0; overflow: hidden; }

/* //// LIGHTBOX */
.lightboxContainer { margin-left: -140px; }
.lightboxContent { width: 260px; max-height: 300px; overflow: scroll; }
.lightboxContent .lightboxHeadline { width: 220px; }
.lightboxContent .section { margin: 10px 0; }

}

