/* * CSS Layout
* Copyright 2013, Throttle Studios
* www.throttlestudios.com
* 2013 */


/* TABLE OF CONTENTS
======================================================================================================================================================
#Base 960 Grid (Small Desktop/Tablet Landscape)
#Tablet (Portrait)
#Mobile (Landscape)
#Mobile (Portrait)
	
	

/* #Base 960 Grid (Small Desktop/Tablet Landscape)
======================================================================================================================================================
======================================================================================================================================================
====================================================================================================================================================== */


/* //// PRODUCT CATEGORY /////
//////////////////////////// */

/* Intro Banner */
.productBannerContainer { width: 940px; float: left; margin: 0 10px 20px 10px; border-top: 1px solid #454545; }
.productBannerContainer-inner { width: 100%; float: left; border-radius: 0 0 8px 8px; background-image: url(../images/bg_navGradient.png); background-repeat: repeat-x; background-position: left top; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
.productBanner-intro { width: 900px; float: left; position: relative; z-index: 1; margin: 10px 0 10px 0; padding: 0 20px 0 20px; }
.productBanner-intro h1 { width: 100%; float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 54px; line-height: 38px; color: #fff; text-transform: uppercase; letter-spacing: -1px; padding: 10px 0 0 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.productBanner-intro .weightLight-styleNormal { letter-spacing: -2px; }
.productBanner-intro h2, .buyersGuide h2 { width: 500px; float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 13px; line-height: 15px; color: #999; padding: 10px 0 0 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.productBanner-image { position: absolute; z-index: 2; top: 1px; right: 10px; padding: 0; margin: 0; }

.buyersGuide { width: 900px; position: relative; z-index: 3; float: left; border-radius: 6px; background: rgba(0, 0, 0, .5); padding: 10px; margin: 10px; }
.buyersGuide h2 { width: auto; font-family: 'PlutoSansMedium'; color: #fff; text-transform: uppercase; padding: 6px 10px 0 0; }
.buyersGuide h2 a { font-family: 'PlutoSansRegular'; color: #999; text-decoration: underline; }
.buyersGuide h2 a.clearAll { display: none; }
.buyersGuide.active h2 a.clearAll { display: inline-block; }
.buyersGuide.active h2 a.clearAll:hover { cursor: pointer; }
.buyersGuide-filter { width: 100%; float: left; }
.buyersGuide-filter	.formFieldContainer { width: 135px; float: left; overflow: hidden; border-radius: 5px; border: none; padding: 0; margin: 0 10px 0 0; }
.buyersGuide-filter select { width: 155px; max-width: inherit; height: 24px; float: left; border: none; padding: 4px 30px 0 10px; margin: 0; font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 12px; color: #fff; -webkit-appearance: none; 
	background-color: #ea5f03; background-image: url(../images/btn_bg-orange.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.buyersGuide-filter	.formFieldContainer.year { width: 65px; }	
.buyersGuide-filter .formFieldContainer.year select { width: 85px; }
.buyersGuide-filter	.formFieldContainer.auto { width: 115px; }	
.buyersGuide-filter .formFieldContainer.auto select { width: 135px; }
.buyersGuideCTA { float: left; height: 24px; padding: 0; margin: 0 20px 0 0; border-radius: 5px; overflow: hidden; background-image: url(../images/btn_bg-blue.png); background-repeat: repeat-x; background-position: left center; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
.buyersGuideCTA:hover { background-image: url(../images/btn_bg-blueDark.png); }
.buyersGuideCTA .go { float: left; cursor: pointer; font-family: 'PlutoSansBold', sans-serif; font-style: normal; color: #fff; font-size: 16px; line-height: 20px; text-transform: uppercase; padding: 3px 8px 2px 8px; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; border-radius: 0; border: none; background-color: transparent; -webkit-appearance: none; }
.buyersGuide .buyersGuide-filterInner.last h2 { font-size: 11px; padding-right: 0; }

/* BuyersGuide Questions Section */
.buyersGuide-questionMask { width: 100%; max-height: 0; float: left; overflow: hidden; transition: max-height 1s; -webkit-transition: max-height 1s; -moz-transition: max-height 1s; -ms-transition: max-height 1s; -o-transition: max-height 1s; }
.buyersGuide.active .buyersGuide-questionMask { max-height: 750px; }
.buyersGuide-questionWrap { width: 3600px; float: left; margin-top: 15px; margin-left: 0; transition: margin-left 1s; -webkit-transition: margin-left 1s; -moz-transition: margin-left 1s; -ms-transition: margin-left 1s; -o-transition: margin-left 1s; }
.buyersGuide-questionWrap.toggle-q2 { margin-left: -900px; }
.buyersGuide-questionWrap.toggle-q3 { margin-left: -1800px; }
.buyersGuide-questionWrap.toggle-q4 { margin-left: -2700px; }
.buyersGuide-questions { width: 900px; float: left; height: 420px; transition: height 1s; -webkit-transition: height 1s; -moz-transition: height 1s; -ms-transition: height 1s; -o-transition: height 1s; }
.buyersGuide.projectors .buyersGuide-questionWrap.toggle-q2 .buyersGuide-questions { height: 520px; }
.buyersGuide.projectors .buyersGuide-questionWrap.toggle-q3 .buyersGuide-questions { height: 410px; }
.buyersGuide.projectors .buyersGuide-questionWrap.toggle-q4 .buyersGuide-questions { height: 160px; }

.buyersGuide-selections { width: 100%; float: left; text-align: center; padding: 20px 0; border-top: 1px solid #454545; border-bottom: 1px solid #555; }
.q1 .buyersGuide-selections { background-image: url(../images/bg_navGradient.png); background-repeat: repeat-x; background-position: left top; background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
.buyersGuide-selections h2 { font-family: 'PlutoSansRegular'; color: #999; text-transform: none; text-align: left; padding: 0 0 0 20px; }
.q1 .buyersGuide-selections h2 { color: #fff; float: none; padding: 0 10px 0 10px; text-align: center; }
.buyersGuide-selections h2 a { color: #4575d9; text-decoration: none; }
.buyersGuide-selections h2.last { padding-bottom: 0; }
.buyersGuide-selections h2 a:hover { cursor: pointer; text-decoration: underline; }
.buyersGuide-select { width: 860px; float: left; padding: 20px 20px 10px 20px; }
.buyersGuide-select .productDrop-headline { font-size: 24px; }
.buyersGuide-selectWrap { width: 100%; float: left; margin-top: 20px; }
.buyersGuide-selectWrap img { width: 100%; height: auto; }
.buyersGuide-selectWrap .selectWrap-full { width: 100%; float: left; }
.buyersGuide-selectWrap .selectWrap-column { width: 420px; float: left; }
.buyersGuide-selectWrap .selectWrap-column.last { margin-left: 20px; }
.buyersGuide-selectWrap .tile { width: 840px; float: left; position: relative; border-radius: 6px; background-color: #262626; padding: 10px; margin: 0 0 10px 0; }
.buyersGuide-selectWrap .tile.disabled { filter: alpha(opacity=50); opacity: .5; }
.buyersGuide-selectWrap .selectWrap-full.tile { padding-bottom: 20px; }
.buyersGuide-selectWrap .selectWrap-column .tile, .buyersGuide-selectWrap .selectWrap-column.tile { width: 400px; }
.buyersGuide-selectWrap .tile .tile30 { width: 30%; float: left; } 
.buyersGuide-selectWrap .tile .tile50 { width: 50%; float: left; } 
.buyersGuide-selectWrap .tile .tile60 { width: 60%; float: left; } 
.buyersGuide-selectWrap .tile .tile80 { width: 80%; float: left; } 
.buyersGuide-selectWrap .tile h3 { width: 80%; float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; font-size: 20px; line-height: 20px; color: #fff; text-transform: uppercase; padding: 10px; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.buyersGuide-selectWrap .tile .product-spec { width: 100%; float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 11px; line-height: 14px; color: #999; padding: 2px 0 0 10px; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.buyersGuide-selectWrap .tile .tile-select { width: 36px; height: 36px; position: absolute; margin-top: 2px; right: 10px; background-image: url(../images/icon_arrowRnd2x.png); background-repeat: repeat-x; background-position: left top; background-size: 36px 36px; -webkit-background-size: 36px 36px; -moz-background-size: 36px 36px; } 
.buyersGuide-selectWrap .selectWrap-full.tile .tile-select { margin-top: 0; }
.buyersGuide-selectWrap .tile:hover { cursor: pointer; }
.buyersGuide-selectWrap .tile:hover .tile-select { cursor: pointer; background-image: url(../images/icon_arrowRnd-hover2x.png); }

.buyersGuide-selectWrap .barChart { width: 100%; float: left; }
.buyersGuide-selectWrap .barChart .bar { width: 9%; height: 14px; float: left; margin: 0 3px 3px 0; background-color: #fff; }
.buyersGuide-selectWrap .barChart .bar.active { background-color: #ea5f03; }
.buyersGuide-selectWrap .disabled .barChart .bar.active { background-color: #666; }

/* PRODUCTS */
.productGridContainer { width: 940px; float: left; margin: 10px 10px 0 10px; }

/* Products Filter */
.productGrid-filter { width: 100%; max-height: 0; overflow: hidden; float: left; margin: 0; transition: max-height 1s; -webkit-transition: max-height 1s; -moz-transition: max-height 1s; -ms-transition: max-height 1s; -o-transition: max-height 1s; }
.productGrid-filter.active { max-height: 200px; }
.filter { float: left; padding: 0 0 20px 20px; }
.filter	.formFieldContainer { width: 165px; float: left; overflow: hidden; border-radius: 5px; border: 1px solid #ccc; padding: 0; margin: 0 10px 0 0; }
.filter	.formFieldContainer.last { margin-bottom: 0; }
.filter select { width: 185px; max-width: inherit; height: 24px; float: left; border: none; padding: 4px 50px 0 10px; margin: 0; font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 12px; color: #777; -webkit-appearance: none; 
	background-color: #fff; background-image: url(../images/bg-arrowDrop2x.png); background-repeat: no-repeat; background-position: 140px 1px; background-size: 24px auto; -webkit-background-size: 24px auto; -moz-background-size: 24px auto;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.productGrid-filter .filter select.selected { color: #fff; background-color: #ea5f03; background-image: url(../images/bg-arrowDrop-selected2x.png); background-repeat: no-repeat; background-position: 140px 1px; background-size: 24px auto; -webkit-background-size: 24px auto; -moz-background-size: 24px auto; }

/* Products Grid */
.productGrid-products { width: 940px; float: left; margin: 0; padding: 0 0 30px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.productDetailContainer .productGrid-products { padding-bottom: 0; border-bottom: none; }
.productGrid-products .products li { width: 312px; height: 375px; float: left; position: relative; overflow: hidden; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; padding: 0; margin: 0; }
.productGrid-products .products li:nth-child(3n+0) { border-right: 1px solid #ccc; }
.productGrid-products .products li:hover { -webkit-box-shadow: inset 0 0 20px #ccc; -moz-box-shadow: inset 0 0 20px #ccc; box-shadow: inset 0 0 20px #ccc; }

.productGrid-products .product-image { width: 292px; height: 200px; float: left; overflow: hidden; padding: 10px 10px 0 10px; }
.productGrid-products .product-image img { width: 100%; height: auto; top: 0; position: relative; margin: 0; }
.productGrid-products .product-info { width: 272px; float: left; margin: 0 10px 0 10px; padding: 10px 10px 0 10px; }
.productGrid-products .product-info.info-main { height: 100px; overflow: hidden; }
.productGrid-products .product-title { float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 28px; line-height: 22px; color: #191919; text-transform: uppercase; padding: 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.productGrid-products .product-specs { float: left; padding: 5px 0 0 0; margin: 0; }
.productGrid-products .product-spec { width: 100%; float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 11px; line-height: 12px; color: #555; padding: 5px 10px 0 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.productGrid-products .product-priceStart { float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: italic; font-size: 12px; line-height: 12px; color: #191919; padding: 5px 5px 10px 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.productGrid-products .product-price { float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 22px; line-height: 22px; color: #191919; padding: 5px 0 10px 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.productGrid-products .productPriceContainer { width: 100%; float: left; margin: 0; padding: 0 0 10px 0; border-bottom: none; }

.productGrid-products .productPrice-retail .productPrice-type { display: none; }
.productGrid-products .productPrice-wholesale { display: none; }
.productGrid-products .productPrice-20orMore { display: none; }
#productGrid-productsWholesale .productPrice-retail .productPrice-type { display: block; }
#productGrid-productsWholesale .productPrice-wholesale { display: block; }
#productGrid-productsWholesale .productPrice-20orMore { display: block; }
#productGrid-productsWholesale .products li { height: 435px; }
#productGrid-productsWholesale .productPriceContainer { padding: 0; }
#productGrid-productsWholesale .productPrice-retail .product-price, #productGrid-productsWholesale .productPrice-retail .product-priceStart { color: #999; text-decoration: line-through; }
#productGrid-productsWholesale .productPrice { width: 90px; float: left; padding: 0; margin: 0; border-right: 1px solid #ccc; }
#productGrid-productsWholesale .productPrice-retail { width: 100%; float: left; border-right: none; border-bottom: 1px solid #ccc; }
#productGrid-productsWholesale .productPrice-wholesale { padding: 5px 0 5px 0; }
#productGrid-productsWholesale .productPrice-20orMore { padding: 5px 0 5px 10px; margin: 0; border-right: none; }
#productGrid-productsWholesale .productPrice .product-price { padding: 5px 0 0 0; }
#productGrid-productsWholesale .productPrice-type { width: 100%; float: left; font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 11px; line-height: 9px; color: #999; text-transform: uppercase; padding: 2px 0 10px 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }

.productGrid-products .product-banner { width: 109px; position: absolute; right: 0; }
.productGrid-products .product-banner img { width: 109px; height: auto; }


/* #Tablet (Portrait) size to standard 960 (devices and browsers)
======================================================================================================================================================
======================================================================================================================================================
====================================================================================================================================================== */
@media only screen and (min-width:768px) and (max-width:959px) {
	
/* //// PRODUCT CATEGORY /////
//////////////////////////// */

/* Intro Banner */
.productBannerContainer { width: 700px; }
.productBanner-intro { width: 660px; }
.productBanner-intro h1 { font-size: 48px; line-height: 34px; }
.productBanner-intro .weightLight-styleNormal { letter-spacing: -2px; }
.productBanner-intro h2 { width: 400px; float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 13px; line-height: 16px; color: #999; padding: 10px 0 0 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.productBanner-image { width: 420px; overflow: hidden; right: 20px; }
.productBanner-image img { float: right; margin: 0 -120px 0 0; }

.buyersGuide { width: 660px; padding-bottom: 2px; }
.buyersGuide-filterInner { width: 86%; float: left; margin: 0; } 
.buyersGuide-filterInner.last { width: 12%; height: 60px; border-left: 1px solid #454545; } 
.buyersGuide-filter	.formFieldContainer { width: 213px; margin-bottom: 10px; }
.buyersGuide-filter select { width: 233px; }
.buyersGuide-filter	.formFieldContainer.year, .buyersGuide-filter .formFieldContainer.auto { width: 157px; }	
.buyersGuide-filter .formFieldContainer.year select, .buyersGuide-filter .formFieldContainer.auto select { width: 177px; }
.buyersGuideCTA { height: 34px; margin: 0 0 0 20px; }
.buyersGuideCTA .go { padding: 7px 12px 7px 12px; }
.buyersGuide .buyersGuide-filterInner.last h2 { padding: 12px 10px 0 26px; }

/* BuyersGuide Questions Section */
.buyersGuide-questionWrap { width: 2640px; }
.buyersGuide-questionWrap.toggle-q2 { margin-left: -660px; }
.buyersGuide-questionWrap.toggle-q3 { margin-left: -1320px; }
.buyersGuide-questionWrap.toggle-q4 { margin-left: -1980px; }
.buyersGuide-questions { width: 660px; height: 410px; }
.buyersGuide.projectors .buyersGuide-questionWrap.toggle-q2 .buyersGuide-questions { height: 500px; }
.buyersGuide.projectors .buyersGuide-questionWrap.toggle-q3 .buyersGuide-questions { height: 380px; }
.buyersGuide.projectors .buyersGuide-questionWrap.toggle-q4 .buyersGuide-questions { height: 140px; }

.buyersGuide-select { width: 620px; }
.buyersGuide-select .productDrop-headline { font-size: 16px; line-height: 20px; }
.buyersGuide-selectWrap .selectWrap-column { width: 300px; }
.buyersGuide-selectWrap .tile { width: 600px;  }
.buyersGuide-selectWrap .selectWrap-column .tile, .buyersGuide-selectWrap .selectWrap-column.tile { width: 280px; }
.buyersGuide-selectWrap .selectWrap-full.tile .tile30 { width: 35%; float: left; } 
.buyersGuide-selectWrap .selectWrap-full.tile .tile60 { width: 55%; float: left; }
.buyersGuide-selectWrap .tile h3 { font-size: 18px; line-height: 18px; }

/* PRODUCTS */
.productGridContainer { width: 700px; float: left; margin: 10px 10px 0 10px; }

/* Products Filter */
.filter { padding: 0 0 20px 20px; }
.filter .formFieldContainer { width: 150px; margin: 0 10px 10px 0; }
.filter select { width: 170px; background-color: #fff; background-image: url(../images/bg-arrowDrop2x.png); background-repeat: no-repeat; background-position: 125px 1px; background-size: 24px auto; -webkit-background-size: 24px auto; -moz-background-size: 24px auto; }
.filter select.selected, option[value="selected"] { color: #fff; background-color: #ea5f03; background-image: url(../images/bg-arrowDrop-selected2x.png); background-repeat: no-repeat; background-position: 125px 1px; background-size: 24px auto; -webkit-background-size: 24px auto; -moz-background-size: 24px auto; }

/* Products Grid */
.productGrid-products { width: 700px; }
.productGrid-products .products li { width: 348px; height: 385px; border-right: 1px solid #ccc; }
.productGrid-products .products li:nth-child(2n+0) { width: 349px; border-left: none; }
.productGrid-products .product-image { width: 329px; height: 210px; }
.productGrid-products .product-info { width: 308px; }

#productGrid-productsWholesale .products li { height: 445px; }

}

/* #Mobile (Landscape) size to Tablet Portrait (devices and browsers)
======================================================================================================================================================
======================================================================================================================================================
====================================================================================================================================================== */
@media only screen and (min-width:480px) and (max-width:767px) {

/* //// PRODUCT CATEGORY /////
//////////////////////////// */

/* Intro Banner */
.productBannerContainer { width: 460px; margin: 0 0 10px 0; }
.productBanner-intro { width: 420px; margin-bottom: 20px; }
.productBanner-intro h1 { font-size: 46px; line-height: 32px; }
.productBanner-intro .weightLight-styleNormal { letter-spacing: -1px; }
.productBanner-intro h2 { width: 100%; font-size: 12px; line-height: 14px; }
.productBanner-image { display: none; }

.buyersGuide { width: 420px; padding-bottom: 2px; }
.buyersGuide h2.mobile-only { padding: 0 0 5px 0; }
.buyersGuide-filterInner { width: 80%; float: left; margin: 0; } 
.buyersGuide-filterInner.last { width: 12%; height: 60px; border-left: 1px solid #454545; } 
.buyersGuide-filter	.formFieldContainer { width: 157px; margin-bottom: 10px; }
.buyersGuide-filter select { width: 177px; }
.buyersGuide-filter	.formFieldContainer.year, .buyersGuide-filter .formFieldContainer.auto { width: 157px; }	
.buyersGuide-filter .formFieldContainer.year select, .buyersGuide-filter .formFieldContainer.auto select { width: 177px; }
.buyersGuideCTA { height: 34px; margin: 0 0 0 20px; }
.buyersGuideCTA .go { padding: 7px 12px 7px 12px; }
.buyersGuide .buyersGuide-filterInner.last h2 { padding: 12px 10px 0 26px; }

/* BuyersGuide Questions Section */
.buyersGuide-questionWrap { width: 1680px; }
.buyersGuide-questionWrap.toggle-q2 { margin-left: -420px; }
.buyersGuide-questionWrap.toggle-q3 { margin-left: -840px; }
.buyersGuide-questionWrap.toggle-q4 { margin-left: -1260px; }
.buyersGuide-questions { width: 420px; height: 710px; }
.buyersGuide.projectors .buyersGuide-questionWrap.toggle-q2 .buyersGuide-questions { height: 680px; }
.buyersGuide.projectors .buyersGuide-questionWrap.toggle-q3 .buyersGuide-questions { height: 660px; }
.buyersGuide.projectors .buyersGuide-questionWrap.toggle-q4 .buyersGuide-questions { height: 210px; }

.buyersGuide-selections h2 { padding: 0 0 10px 20px; width: 80%; text-align: left; }
.q1 .buyersGuide-selections h2 { width: auto; }
.buyersGuide-select { width: 380px; }
.buyersGuide-select .productDrop-headline { font-size: 16px; line-height: 20px; }
.buyersGuide-selectWrap .selectWrap-column { width: 100%; }
.buyersGuide-selectWrap .selectWrap-column.last { margin-left: 0; margin-top: 20px; }
.buyersGuide-selectWrap .tile { width: 360px;  }
.buyersGuide-selectWrap .selectWrap-column .tile, .buyersGuide-selectWrap .selectWrap-column.tile { width: 360px; margin-top: 0; }
.buyersGuide-selectWrap .selectWrap-full.tile .tile30 { width: 100%; float: left; margin-bottom: 10px; } 
.buyersGuide-selectWrap .selectWrap-full.tile .tile60 { width: 100%; float: left; }
.buyersGuide-selectWrap .tile h3 { font-size: 18px; line-height: 18px; }

/* PRODUCTS */
.productGridContainer { width: 460px; float: left; margin: 10px 0 0 0; }

/* Products Filter */
.filter { padding: 0 0 20px 20px; }
.filter .formFieldContainer { margin: 0 10px 10px 0; }

/* Products Grid */
.productGrid-products { width: 460px; }
.productGrid-products .products li { width: 228px; height: 320px; border-right: 1px solid #ccc; }
.productGrid-products .products li:nth-child(2n+0) { width: 229px; border-left: none; }
.productGrid-products .product-image { width: 209px; height: 145px; }
.productGrid-products .product-info { width: 188px; padding-top: 5px; }
.productGrid-products .product-info.info-main { height: 112px; }
.productGrid-products .product-title { float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 24px; line-height: 18px; color: #191919; text-transform: uppercase; padding: 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.productGrid-products .product-spec { font-size: 10px; line-height: 11px; }
.productGrid-products .product-price { font-size: 20px; line-height: 20px; }

#productGrid-productsWholesale .products li { height: 420px; }
#productGrid-productsWholesale .productPrice-wholesale { width: 100%; border-right: none; border-bottom: 1px solid #ccc; padding: 0; }
#productGrid-productsWholesale .productPrice-20orMore { width: 100%; border-right: none; padding: 0; margin: 0; }

}

/* #Mobile (Portrait) size to Mobile Landscape Size (devices and browsers)
======================================================================================================================================================
======================================================================================================================================================
====================================================================================================================================================== */
@media only screen and (max-width:479px) {

/* //// PRODUCT CATEGORY /////
//////////////////////////// */

/* Intro Banner */
.productBannerContainer { width: 300px; margin: 0 0 10px 0; }
.productBanner-intro { width: 260px; margin-bottom: 20px; }
.productBanner-intro h1 { font-size: 31px; line-height: 24px; }
.productBanner-intro .weightLight-styleNormal { letter-spacing: -1px; }
.productBanner-intro h2, .buyersGuide-selections h2 { width: 100%; font-size: 12px; line-height: 14px; }
.productBanner-image { display: none; }

.buyersGuide { width: 260px; padding-bottom: 2px; }
.buyersGuide h2.mobile-only { padding: 0 0 5px 0; }
.buyersGuide-filterInner { width: 100%; float: left; margin: 0; } 
.buyersGuide-filterInner.last { width: 100%; margin-bottom: 10px; } 
.buyersGuide-filter	.formFieldContainer { width: 260px; margin-bottom: 10px; margin-right: 0; }
.buyersGuide-filter select { width: 280px; height: 34px; }
.buyersGuide-filter	.formFieldContainer.year, .buyersGuide-filter .formFieldContainer.auto { width: 260px; }	
.buyersGuide-filter .formFieldContainer.year select, .buyersGuide-filter .formFieldContainer.auto select { width: 280px; }
.buyersGuideCTA { float: right; height: 34px; margin: 0; }
.buyersGuideCTA .go { padding: 7px 70px 7px 70px; }
.buyersGuide .buyersGuide-filterInner.last h2 { padding: 10px 10px 0 20px; }

/* BuyersGuide Questions Section */
.buyersGuide-questionWrap { width: 1040px; }
.buyersGuide-questionWrap.toggle-q2 { margin-left: -260px; }
.buyersGuide-questionWrap.toggle-q3 { margin-left: -520px; }
.buyersGuide-questionWrap.toggle-q4 { margin-left: -780px; }
.buyersGuide-questions { width: 260px; height: 620px; }
.buyersGuide.projectors .buyersGuide-questionWrap.toggle-q2 .buyersGuide-questions { height: 630px; }
.buyersGuide.projectors .buyersGuide-questionWrap.toggle-q3 .buyersGuide-questions { height: 550px; }
.buyersGuide.projectors .buyersGuide-questionWrap.toggle-q4 .buyersGuide-questions { height: 180px; }

.buyersGuide-selections h2 { padding: 0 0 10px 0; text-align: left; }
.q1 .buyersGuide-selections h2 { width: auto; }
.buyersGuide-select { width: 260px; padding: 10px 0 10px 0; }
.buyersGuide-select .productDrop-headline { font-size: 15px; line-height: 18px; }
.buyersGuide-selectWrap .selectWrap-column { width: 100%; }
.buyersGuide-selectWrap .selectWrap-column.last { margin-left: 0; margin-top: 20px; }
.buyersGuide-selectWrap .tile { width: 240px;  }
.buyersGuide-selectWrap .selectWrap-column .tile, .buyersGuide-selectWrap .selectWrap-column.tile { width: 240px; margin-top: 0; }
.buyersGuide-selectWrap .selectWrap-full.tile .tile30 { width: 100%; float: left; margin-bottom: 10px; } 
.buyersGuide-selectWrap .selectWrap-full.tile .tile60 { width: 100%; float: left; }
.buyersGuide-selectWrap .tile h3 { font-size: 14px; line-height: 14px; padding-left: 0; }
.buyersGuide-selectWrap .tile .product-spec { padding: 2px 0 0 0; }
.buyersGuide-selectWrap .tile .tile-select { margin-top: 0; }
.buyersGuide-selectWrap .barChart .bar { margin: 0 2px 2px 0; }

/* PRODUCTS */
.productGridContainer { width: 300px; float: left; margin: 10px 0 0 0; }

/* Products Filter */
.filter { padding: 0 0 20px 20px; }
.filter .formFieldContainer { width: 258px; margin: 0 0 10px 0; }
.filter select { width: 278px; background-color: #fff; background-image: url(../images/bg-arrowDrop2x.png); background-repeat: no-repeat; background-position: 233px 1px; background-size: 24px auto; -webkit-background-size: 24px auto; -moz-background-size: 24px auto; }
.filter select.selected, option[value="selected"] { color: #fff; background-color: #ea5f03; background-image: url(../images/bg-arrowDrop-selected2x.png); background-repeat: no-repeat; background-position: 233px 1px; background-size: 24px auto; -webkit-background-size: 24px auto; -moz-background-size: 24px auto; }

/* Products Grid */
.productGrid-products { width: 300px; }
.productGrid-products .products li { width: 298px; height: auto; border-right: 1px solid #ccc; }

.productGrid-products .product-image { width: 280px; height: 185px; }
.productGrid-products .product-info { width: 258px; }
.productGrid-products .product-info.info-main { height: auto; }
.productGrid-products .product-title { float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 26px; line-height: 20px; color: #191919; text-transform: uppercase; padding: 0; margin: 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.productGrid-products .product-price { font-size: 20px; line-height: 20px; }

#productGrid-productsWholesale .products li { height: auto; }


}


