/*
* CSS Layout
* Copyright 2013, Throttle Studios
* www.throttlestudios.com
* 2013
*/


/* TABLE OF CONTENTS
======================================================================================================================================================
	#Base 960 Grid (Small Desktop/Tablet Landscape)
	#Tablet (Portrait)
	#Mobile (Landscape)
	#Mobile (Portrait)
	
	

/* #Base 960 Grid (Small Desktop/Tablet Landscape)
======================================================================================================================================================
======================================================================================================================================================
====================================================================================================================================================== */

/*//// GALLERY & DIY GUIDE PAGES ////////
////////////////////////////*/
	/* GENERAL STYLES */
	.bodyContainer								{ width: 940px; float: left; margin: 40px 10px 0px 10px; }
	.utilityBodyContainer						{ width: 940px; float: left; margin: 20px 10px 0px 10px; }	
	.bodyContainer h1							{ float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 64px; line-height: 46px; color: #191919; 
												  text-transform: uppercase; letter-spacing: -1px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.bodyContainer h3							{ float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 15px; line-height: 17px; color: #d14001;
												  padding: 10px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.bodyContainer h2							{ width: 100%; float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; font-size: 22px; line-height: 18px; color: #d14001; text-transform: uppercase; 
												  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.bodyContainer h4							{ width: 100%; float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; font-size: 13px; line-height: 13px; color: #191919;
												  padding: 20px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.utility-contentContainer					{ width: 940px; float: left; margin: 20px 0px 0px 0px; }
	.utility-section							{ width: 940px; float: left; margin: 30px 0px 0px 0px; padding: 0px 0px 20px 0px; border-bottom: 1px solid #ccc; }	
	.utility-sectionSpecial						{ width: 940px; float: left; margin: 30px 0px 0px 0px; padding: 0px 0px 20px 0px; }
	.utility-sectionContent						{ width: 910px; float: left; margin: 0px 0px 0px 0px; padding: 0px 15px 0px 15px; }
	.utility-sectionContent h4					{ width: 905px; text-transform: uppercase; padding: 20px 0px 5px 5px; margin: 0px 0px 5px 0px; border-bottom: 1px solid #ddd; }
	.utility-sectionContent .generalBtn-orange, .utility-sectionContent .generalBtn-orange:hover	 { float: right; margin: 25px 0px 0px 0px; }
	
	.utility-sideColContainer2					{ width: 300px; float: left; margin: 0px 10px 0px 0px; }
	.utility-contentContainer2					{ width: 610px; float: left; margin: 20px 0px 0px 20px; }
	
	.utility-sectionFirst						{ margin-top: 0px; }
		
	/* GENERAL STYLES Cont... */											  
		/* Bread Crumb | Print | Share */
	.breadCrumb-utilityContainer				{ width: 940px; float: left; margin: 0px 10px 0px 10px; border-bottom: 1px solid #ccc; }	
	.breadCrumb			 						{ float: left; margin: 0px 0px 0px 0px; padding: 15px 0px 15px 10px; }
	.breadCrumb	 li 							{ float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 10px; line-height: 8px; color: #333; text-transform: uppercase;
	 											  padding: 0px 0px 0px 0px; margin: 0px 3px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.breadCrumb a								{ color: #555; }
	.breadCrumb a:hover							{ color: #ea5f03; }
	.productUtility								{ float: right; padding: 8px 10px 0px 0px; margin: 0px 0px 0px 0px; }
	.print										{ float: left;  margin: 4px 10px 0px 0px; } 
	.print img									{ width: 16px; height: auto; }
	.addthis									{ float: left; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; } 
	.addthis_button								{ float: left; border: 1px solid #666; border-radius: 3px 3px 3px 3px; 
												  background-image: url(../images/btn_bg-gray.png); background-repeat: repeat-x; background-position: left top;
												  background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
	.addthis_counter.addthis_pill_style 		{ height: 16px; }
	.addthis_button	a							{ float: left; font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 10px; line-height: 8px; color: #fff; 
												  padding: 4px 4px 0px 4px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }	
	.addthis_button img							{ width: 10px; height: auto; padding: 0px 4px 0px 0px; }

		/* Tab Nav */			
	.utility-tabNavContainer					{ width: 940px; float: left; margin: 0px 10px 0px 10px; border-bottom: 1px solid #ccc; }
	.tabNav										{ width: 940px; float: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	.tabNav h1 									{ font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 16px; line-height: 14px; color: #fff; text-transform: uppercase;
	 											  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.tabNav li 									{ font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 16px; line-height: 14px; color: #fff; text-transform: uppercase; text-align: center;
	 											  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.tabNav a									{ width: 313px; float: left; color: #191919; padding: 12px 0px 12px 0px; margin: 0px 0px 0px 0px; background-color: #eee; border-right: 1px solid #ccc; }
	.tabNav-active a							{ color: #fff; border-right: none;
												  background-image: url(../images/btn_bg-blue.png); background-repeat: repeat-x; background-position: left center;
												  background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
	.tabNav a:hover								{ background-color: #345eb9; color: #fff; }						  
	.tabNav-lastChild a							{ border-right: none; }	
	#customerProjects .tabNav-firstChild a		{ border-right: none; }		
	#caseStudies .tabNav-midChild a				{ border-right: none; }		
		
		/* NonProduct Grid */
	.nonProductGridContainer-wide				{ width: 940px; float: left; margin: 10px 0px 0px 0px; padding: 0px 0px 0px 0px; }	
	.nonProductGrid-wide li						{ width: 214px; float: left; overflow: hidden; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;
												  padding: 10px 10px 0px 10px; margin: 0px 0px 0px 0px; }											  
	.nonProductGrid-wide li:nth-child(4n+0)		{ border-right: none; }
	.nonProductGrid-wide-image				 	{ width: 214px; height: 190px; float: left; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; overflow: hidden; }
	.nonProductGrid-wide-image img				{ width: auto; height: 100%; }
	.nonProductGrid-wide-info					{ width: 214px; float: left; margin: 0px 0px 0px 0px; padding: 10px 10px 0px 0px; }
	.nonProductGrid-wide-title					{ width: 100%; float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 24px; line-height: 20px; color: #191919; 
												  text-transform: uppercase; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.nonProductGrid-wide-specs					{ height: 60px; float: left; padding: 5px 0px 10px 0px; margin: 0px 0px 0px 0px; }
	.nonProductGrid-wide-specTitle				{ width: 100%; float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 12px; line-height: 16px; color: #555;
												  padding: 5px 10px 5px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.nonProductGrid-wide-spec					{ width: 100%; float: left; font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 12px; line-height: 16px; color: #555;
												  padding: 0px 10px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.nonProductGrid-wide-link					{ width: 100%; float: left; font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 11px; line-height: 16px; color: #d14001; text-decoration: underline;
												  padding: 3px 10px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }											  											
	.nonProductGrid-wide li a:hover .nonProductGrid-wide-title,
		.nonProductGrid-wide li a:hover .nonProductGrid-wide-link 	{ color: #ea5f03; }
		
	
	/* GALLERY */
	.galleryTitle-section						{ float: left; margin: 0px 0px 0px 0px; padding: 0px 15px 0px 0px; }
		#rotm .galleryTitle-section					{ width: 385px; }
		#customerProjects .galleryTitle-section		{ width: 540px; }
		#caseStudies .galleryTitle-section			{ width: 440px; }
	.galleryTitle-upper							{ float: left; font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 32px; line-height: 16px; color: #191919; text-transform: uppercase; 
												  letter-spacing: -1px; padding: 6px 0px 0px 15px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }											    .galleryTitle-lower							{ float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 170px; line-height: 125px; color: #191919; 
												  text-transform: uppercase; letter-spacing: -1px; padding: 0px 0px 0px 10px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.galleryPreview-content						{ float: left; margin: 27px 0px 0px 0px; padding: 0px 15px 20px 0px; }
		#customerProjects .galleryPreview-content	{ width: 370px; }
		#caseStudies .galleryPreview-content		{ width: 470px; }
	.galleryPreview-content p					{ width: 100%; float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 15px; line-height: 17px; color: #888; 
												  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.rotmPreview-sectionContent					{ width: 375px; float: left; margin: 25px 0px 0px 0px; padding: 0px 15px 20px 10px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;
												  background-image: url(../images/bg_gradientLight.png); background-repeat: repeat-x; background-position: left top;
												  background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
	.rotmPreview-info h2						{ float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 400; font-size: 44px; line-height: 34px; color: #191919;   
												  text-transform: none; padding: 20px 0px 0px 5px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }											    .rotmPreview-info h3						{ width: 100%; float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: italic; font-size: 15px; line-height: 17px; color: #888; 
												  padding: 5px 0px 0px 5px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.rotmPreview-sectionContent .generalBtn-orange, 
		.rotmPreview-sectionContent .generalBtn-orange:hover	 { margin: 10px 0px 0px 5px; }
	.rotmPreview-sectionImage					{ width: 520px; height: 426px; float: right; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; overflow: hidden; }
	.rotmPreview-sectionImage img				{ width: auto; height: 100%; }
	
	#customerProjects .nonProductGrid-wide-title	{ height: 40px; }
	
		/* Gallery Filter */											  
	.nonProductGrid-filter						{ width: 900px; float: left; margin: 0px 0px 0px 0px; padding: 0px 20px 20px 20px; border-bottom: 1px solid #ccc;
												  background-image: url(../images/bg_gradientLight.png); background-repeat: repeat-x; background-position: left top;
												  background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
	.nonProductGrid-filter-title				{ float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; font-size: 22px; line-height: 20px; color: #d14001; text-transform: uppercase; 
												  padding: 15px 0px 0px 0px; margin: 0px 15px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.nonProductGrid-filter-note					{ width: 400px; float: left; font-family: Helvetica, Arial, sans-serif; font-style: italic; font-size: 9px; line-height: 12px; color: #191919;
												  padding: 11px 0px 0px 0px; margin: 0px 0px 0px 5px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }											  
	.filter										{ float: left; }
	.filter label								{ float: left; font-family: "PlutoSansMedium", sans-serif; font-style: normal; color: #191919; font-size: 10px; line-height: 10px;
	 											  padding: 0px 0px 2px 2px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.filter	.formFieldContainer				 	{ width: 105px; float: left; margin: 0px 10px 0px 0px; }
	
	.filter select								{ height: 22px; float: left; font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 12px; line-height: 14px; color: #777;
	 											  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	
	
	/* GALLERY DETAIL */
	#rotmDetail .galleryTitle-upper,
		#caseStudiesDetail .galleryTitle-upper	{ padding: 6px 0px 0px 0px; margin: 0px 0px 0px 0px; font-size: 34px; line-height: 20px; }
	#rotmDetail .galleryTitle-lower				{ padding: 0px 0px 10px 0px; margin: 0px 0px 0px -7px; font-size: 176px; line-height: 128px; }
	#caseStudiesDetail .galleryTitle-lower		{ padding: 0px 0px 10px 0px; margin: 0px 0px 0px -3px; font-size: 198px; line-height: 140px; }
	#rotmDetail .galleryTitle-section,
		#caseStudiesDetail .galleryTitle-section 	{ padding: 0px 0px 0px 0px; }
	.galleryTitle-dynamic						{ width: 300px; float: left; font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 34px; line-height: 26px; color: #fff; text-transform: uppercase; 
												  text-align: center; letter-spacing: -2px; padding: 8px 0px 6px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; 
												  background-color: #191919; }
	#caseStudiesDetail .galleryTitle-dynamic	{ font-size: 28px; }					
	.galleryDetailPreview-sectionContent		{ min-height: 700px; width: 270px; float: left; margin: 25px 0px 0px 0px; padding: 0px 15px 20px 15px; background-color: #eee; }
	.galleryDetail-info							{ width: 100%; float: left; margin: 15px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	.utility-sideCol-sectionInner-user			{ width: 190px; float: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	.user-avatar								{ width: 60px; height: 60px; float: left; margin: 0px 10px 0px 0px; padding: 1px 1px 1px 1px; border: 1px solid #ccc; }
	#rotmDetail .nonProductGrid-wide-specTitle,
		#caseStudiesDetail .nonProductGrid-wide-specTitle	{ padding: 5px 10px 0px 0px; }
	.galleryDetail-info h2						{ width: 100%; float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 24px; line-height: 20px; color: #191919;												  												  text-transform: none; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	
	.galleryImagesContainer						{ width: 608px; float: left; margin: 0px 0px 15px 0px; padding: 0px 0px 20px 0px; border: 1px solid #ccc; }
	.galleryImage-main							{ width: 608px; height: 400px; float: left; overflow: hidden; }
	.galleryImage-main img						{ width: 100%; height: auto; }
	.galleryCaption-main						{ float: left; padding: 0px 0px 0px 0px; margin: 10px 18px 10px 18px; }
	.galleryCaption-main p						{ font-family: "PlutoSansRegular", sans-serif; font-style: normal; font-size: 11px; line-height: 15px; color: #454545; border-bottom: 1px solid #ddd;
												  padding: 0px 0px 10px 0px; margin: 0px 0px 0px 0px;  -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.galleryImage-thumbsContainer				{ float: left; padding: 0px 0px 0px 0px; margin: 10px 0px 0px 18px; }
	.galleryImage-thumb							{ width: 85px; height: 70px; overflow: hidden; float: left; padding: 0px 0px 0px 0px; margin: 0px 10px 0px 0px; border: 1px solid #ccc; } 
	.galleryImage-thumb:hover					{ cursor: pointer; border: 1px solid #ea5f03; }
	.galleryImage-thumb img						{ width: 85px; height: auto; }
	
	.galleryContent								{ width: 100%; float: left; font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 13px; line-height: 16px; color: #454545;
	 											  padding: 8px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; border-bottom: 1px solid #ccc; }
	
	
	/* DIY GUIDES */
	#diyLanding .utilityBodyContainer			{ margin: 0px 10px 0px 10px; }	
	#diyLanding .utility-sectionSpecial			{ margin: 0px 0px 20px 0px; padding: 0px 0px 20px 0px; border-radius: 0px 0px 8px 8px; overflow: hidden;
												  background-image: url(../images/bg_diyGuides.jpg); background-repeat: no-repeat; background-position: left -150px; }
	.diyTitle-section							{ width: 380px; float: left; margin: 0px 0px 0px 0px; padding: 15px 0px 0px 20px; }
	.diyTitle-upper								{ float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 86px; line-height: 66px; color: #191919;  
												  text-transform: uppercase; padding: 0px 0px 0px 2px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }											    .diyTitle-mid								{ float: left; font-family: 'PlutoSansHeavy', sans-serif; font-style: normal; font-size: 106px; line-height: 84px; color: #191919; 
												  text-transform: uppercase; letter-spacing: -8px; padding: 7px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.diyTitle-lower								{ float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 15px; line-height: 17px; color: #888; 
												  text-transform: uppercase; padding: 0px 0px 0px 3px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	
	.diyPreview-content							{ float: left; margin: 5px 0px 0px 0px; padding: 0px 0px 25px 0px; }
	.diyPreview-spec							{ width: 100%; float: left; padding: 0px 0px 0px 3px; margin: 10px 0px 0px 0px; }						  
	.diyPreview-specIcon						{ width: 35px; height: 35px; float: left; padding: 0px 0px 0px 0px; margin: 0px 7px 0px 0px; overflow: hidden; } 
	.diyPreview-specIcon img					{ width: 61px; height: auto; }
		.diyPreview-specIcon-video img				{ margin-top: -35px; }
		.diyPreview-specIcon-forum img				{ margin-top: -70px; }
		.diyPreview-specIcon-gallery img			{ margin-top: -105px; }
	.diyPreview-specTitle						{ font-size: 22px; line-height: 15px; }
	.diyPreview-content p						{ width: 320px; float: left; font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 12px; line-height: 15px; color: #191919; 
												  padding: 2px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	#diyLanding .nonProductGrid-wide-image			{ width: 214px; height: 145px; float: left; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; overflow: hidden; }
	#diyLanding .nonProductGrid-wide-image img		{ width: 100%; height: auto; }
	#diyLanding .nonProductGrid-wide-info			{ width: 194px; float: left; margin: 0px 0px 0px 0px; padding: 10px 10px 0px 10px;
												  	  background-image: url(../images/bg_gradientLight2.png); background-repeat: repeat-x; background-position: left top;
												  	  background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
	#diyLanding .nonProductGrid-wide-specs			{ height: 40px; }
	.nonProductGrid-wide-specIcon				{ width: 26px; height: 26px; float: left; padding: 0px 0px 0px 0px; margin: 7px 7px 0px 0px; overflow: hidden; } 
	.nonProductGrid-wide-specIcon img			{ width: 61px; height: auto; float: right; }
		.nonProductGrid-wide-specIcon-video img		{ margin-top: -35px; }
		.nonProductGrid-wide-specIcon-forum img		{ margin-top: -70px; }
		.nonProductGrid-wide-specIcon-gallery img	{ margin-top: -105px; }
	
	
												  
/* #Tablet (Portrait) size to standard 960 (devices and browsers)
======================================================================================================================================================
======================================================================================================================================================
====================================================================================================================================================== */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
/*//// GALLERY & DIY GUIDE PAGES ////////
////////////////////////////*/
	/* GENERAL STYLES */
	.bodyContainer								{ width: 700px; float: left; margin: 30px 10px 0px 10px; }	
	.utilityBodyContainer						{ width: 700px; float: left; margin: 20px 10px 0px 10px; }	
	.utility-contentContainer					{ width: 700px; float: left; margin: 20px 0px 0px 0px; }
	.utility-section							{ width: 700px; float: left; margin: 30px 0px 0px 0px; padding: 0px 0px 20px 0px; border-bottom: 1px solid #ccc; }
	.utility-sectionSpecial						{ width: 700px; float: left; margin: 30px 0px 0px 0px; padding: 0px 0px 20px 0px; }
	.utility-sectionContent						{ width: 670px; float: left; margin: 0px 0px 0px 0px; padding: 0px 15px 0px 15px; }
	.utility-sectionContent h4					{ width: 670px; text-transform: uppercase; padding: 20px 0px 5px 5px; margin: 0px 0px 5px 0px; border-bottom: 1px solid #ddd; }	
	
	.utility-sideColContainer2					{ width: 700px; float: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; border-bottom: none; }	
	.utility-contentContainer2					{ width: 700px; float: left; margin: 20px 0px 0px 0px; }
	
	.utility-sectionFirst						{ margin-top: 0px; }
	
	/* GENERAL STYLES Cont... */
		/* Bread Crumb | Print | Share */
	.breadCrumb-utilityContainer				{ width: 700px; float: left; margin: 0px 10px 0px 10px; border-bottom: 1px solid #ccc; }
	
		/* Tab Nav */			
	.utility-tabNavContainer					{ width: 700px; float: left; margin: 0px 10px 0px 10px; border-bottom: 1px solid #ccc; }
	.tabNav										{ width: 700px; float: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	.tabNav h1 									{ font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 14px; line-height: 12px; color: #fff; text-transform: uppercase;
	 											  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.tabNav li 									{ font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 14px; line-height: 12px; color: #fff; text-transform: uppercase; text-align: center;
	 											  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.tabNav a									{ width: 233px; float: left; color: #191919; padding: 12px 0px 10px 0px; margin: 0px 0px 0px 0px; background-color: #eee; border-right: 1px solid #ccc; }
	.tabNav-active a							{ border-right: none; }
	.tabNav-lastChild a							{ border-right: none; }
	
		/* NonProduct Grid */
	.nonProductGridContainer-wide				{ width: 700px; float: left; margin: 10px 0px 0px 0px; padding: 0px 0px 0px 0px; }	
	.nonProductGrid-wide li						{ width: 212px; }											  
	.nonProductGrid-wide li:nth-child(4n+0)		{ border-right: 1px solid #ccc; }
	.nonProductGrid-wide li:nth-child(3n+0)		{ border-right: none; }
	.nonProductGrid-wide-image				 	{ width: 212px; height: 190px; }
	.nonProductGrid-wide-info					{ width: 212px; float: left; }
	
	
	/* GALLERY */
	.rotmPreview-sectionImage					{ width: 290px; height: 426px; float: right; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; overflow: hidden; text-align: center; }
	.rotmPreview-sectionImage img				{ width: auto; height: 100%; }
	.galleryPreview-content						{ float: left; margin: 20px 0px 0px 0px; padding: 0px 15px 20px 15px; }
		#customerProjects .galleryPreview-content	{ width: 670px; }
		#caseStudies .galleryPreview-content		{ width: 670px; }
		
		/* Gallery Filter */											  
	.nonProductGrid-filter						{ width: 660px; float: left; margin: 0px 0px 0px 0px; padding: 0px 20px 20px 20px; border-bottom: 1px solid #ccc;
												  background-image: url(../images/bg_gradientLight.png); background-repeat: repeat-x; background-position: left top;
												  background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%;  }
	.nonProductGrid-filter-title				{ float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; font-size: 22px; line-height: 20px; color: #d14001; text-transform: uppercase; 
												  padding: 15px 0px 0px 0px; margin: 0px 15px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.nonProductGrid-filter-note					{ width: 300px; float: left; font-family: Helvetica, Arial, sans-serif; font-style: italic; font-size: 9px; line-height: 12px; color: #191919;
												  padding: 11px 0px 0px 0px; margin: 0px 0px 0px 5px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.filter										{ float: left; }
	.filter label								{ float: left; font-family: "PlutoSansMedium", sans-serif; font-style: normal; color: #191919; font-size: 10px; line-height: 10px;
	 											  padding: 0px 0px 2px 2px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.filter	.formFieldContainer				 	{ width: 100px; float: left; margin: 0px 10px 0px 0px; }
	
	.filter select								{ height: 22px; float: left; font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 12px; line-height: 14px; color: #777;
	 											  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }										
	
	
	/* GALLERY DETAIL */
	#rotmDetail .galleryTitle-section,
		#caseStudiesDetail .galleryTitle-section	 { width: 320px; padding: 0px 0px 0px 0px; }
	
	.galleryDetailPreview-sectionContent		{ min-height: inherit; width: 350px; float: left; margin: 0px 0px 0px 0px; padding: 0px 15px 20px 15px; background-color: #eee; }
	.galleryDetail-info							{ width: 50%; float: left; margin: 15px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	.galleryDetail-infoUser						{ width: 100%; }
	.utility-sideCol-sectionInner-user			{ width: 270px; float: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	
	.galleryImagesContainer						{ width: 698px; float: left; margin: 20px 0px 15px 0px; padding: 0px 0px 20px 0px; border: 1px solid #ccc; }
	.galleryImage-main							{ width: 698px; height: 460px; float: left; overflow: hidden; }
	.galleryCaption-main						{ float: left; padding: 0px 0px 0px 0px; margin: 10px 64px 10px 64px; }
	.galleryCaption-main p						{ font-family: "PlutoSansRegular", sans-serif; font-style: normal; font-size: 11px; line-height: 15px; color: #454545; border-bottom: 1px solid #ddd;
												  padding: 0px 0px 10px 0px; margin: 0px 0px 0px 0px;  -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.galleryImage-thumbsContainer				{ float: left; padding: 0px 0px 0px 0px; margin: 10px 0px 0px 64px; }
	
												  
											  
	/* DIY GUIDES */
	#diyLanding .utility-sectionSpecial			{ margin: 0px 0px 20px 0px; padding: 0px 0px 20px 0px; border-radius: 0px 0px 8px 8px; overflow: hidden;
												  background-image: url(../images/bg_diyGuides.jpg); background-repeat: no-repeat; background-position: -50px -150px; }
	
		
	}


/* #Mobile (Landscape) size to Tablet Portrait (devices and browsers)
======================================================================================================================================================
======================================================================================================================================================
====================================================================================================================================================== */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
/*//// GALLERY & DIY GUIDE PAGES ////////
////////////////////////////*/
	/* GENERAL STYLES */
	.bodyContainer								{ width: 460px; float: left; margin: 20px 0px 0px 0px; }	
	.bodyContainer h1							{ float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 44px; line-height: 40px; color: #191919; 
												  text-transform: uppercase; letter-spacing: -1px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.bodyContainer h3							{ float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 13px; line-height: 15px; color: #d14001;
												  padding: 5px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.bodyContainer h2							{ width: 100%; float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; font-size: 20px; line-height: 18px; color: #d14001; text-transform: uppercase; 
												  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.bodyContainer h4							{ width: 100%; float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; font-size: 12px; line-height: 13px; color: #191919;
												  padding: 20px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.utility-contentContainer					{ width: 460px; float: left; margin: 20px 0px 0px 0px; }
	.utility-section							{ width: 460px; float: left; margin: 30px 0px 0px 0px; padding: 0px 0px 20px 0px; border-bottom: 1px solid #ccc; }
	.utility-sectionSpecial						{ width: 100%; float: left; margin: 15px 0px 0px 0px; padding: 0px 0px 15px 0px; }
	.utility-sectionContent						{ width: 440px; float: left; margin: 0px 0px 0px 0px; padding: 0px 10px 0px 10px; }
	.utility-sectionContent h4					{ width: 440px; text-transform: uppercase; padding: 20px 0px 5px 0px; margin: 0px 0px 5px 0px; border-bottom: 1px solid #ddd; }
	.utility-sectionContent .generalBtn-orange,
		.utility-sectionContent .generalBtn-orange:hover	 { margin: 15px 0px 0px 0px; }
	
	.utility-sideColContainer2					{ width: 460px; float: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; border-bottom: none; }	
	.utility-contentContainer2					{ width: 460px; float: left; margin: 20px 0px 0px 0px; }
	
	.utility-sectionFirst						{ margin-top: 0px; }
	
	/* GENERAL STYLES Cont... */	
		/* Bread Crumb | Print | Share */
	.breadCrumb-utilityContainer				{ width: 460px; float: left; margin: 0px 0px 0px 0px; border-bottom: 1px solid #ccc; }	
	.productUtility								{ float: right; padding: 8px 10px 8px 0px; margin: 0px 0px 0px 0px; }
	
		/* Tab Nav */			
	.utility-tabNavContainer					{ width: 460px; float: left; margin: 25px 0px 5px 0px; border-bottom: none; }
	.tabNav										{ width: 460px; float: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	.tabNav h1 									{ font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 11px; line-height: 9px; color: #fff; text-transform: uppercase;
	 											  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.tabNav li 									{ font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 11px; line-height: 9px; color: #fff; text-transform: uppercase; text-align: center;
	 											  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.tabNav a									{ width: 150px; float: left; color: #191919; padding: 7px 0px 7px 0px; margin: 0px 5px 0px 0px; background-color: #eee; border-right: none; }
	.tabNav-active a							{ border-right: none; }
	.tabNav-lastChild a							{ border-right: none; margin: 0px 0px 0px 0px; }
	
		/* NonProduct Grid */
	.nonProductGridContainer-wide				{ width: 460px; float: left; margin: 10px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	.nonProductGrid-wide li						{ width: 209px; }											  
	.nonProductGrid-wide li:nth-child(3n+0)		{ border-right: 1px solid #ccc; }
	.nonProductGrid-wide li:nth-child(2n+0)		{ border-right: none; }
	.nonProductGrid-wide-image				 	{ width: 209px; height: 190px; }
	.nonProductGrid-wide-info					{ width: 209px; float: left; }
	
	/* GALLERY */
	.galleryTitle-section						{ float: left; margin: 0px 0px 0px 0px; padding: 0px 15px 0px 0px; }
		#rotm .galleryTitle-section					{ width: 445px; padding: 0px 15px 0px 0px; }
		#customerProjects .galleryTitle-section		{ width: 445px; padding: 0px 15px 0px 0px; }
		#caseStudies .galleryTitle-section			{ width: 445px; padding: 0px 15px 0px 0px; }
	.galleryTitle-upper							{ width: 100%; float: left; font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 20px; line-height: 14px; color: #191919; text-transform: uppercase; 
												  letter-spacing: -1px; padding: 2px 0px 0px 2px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }											    .galleryTitle-lower							{ float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 100px; line-height: 75px; color: #191919; 
												  text-transform: uppercase; letter-spacing: -1px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.galleryPreview-content						{ float: left; margin: 15px 0px 0px 0px; padding: 0px 0px 10px 0px; }
		#customerProjects .galleryPreview-content	{ width: 460px; }
		#caseStudies .galleryPreview-content		{ width: 460px; }
	.galleryPreview-content p					{ width: 100%; float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 12px; line-height: 15px; color: #888; 
												  padding: 0px 0px 0px 2px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.rotmPreview-sectionContent					{ width: 435px; float: left; margin: 25px 0px 0px 0px; padding: 0px 15px 20px 10px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;
												  background-image: url(../images/bg_gradientLight.png); background-repeat: repeat-x; background-position: left top;
												  background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
	.rotmPreview-info h2						{ float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 400; font-size: 32px; line-height: 26px; color: #191919;   
												  text-transform: none; padding: 15px 0px 0px 5px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }											    .rotmPreview-info h3						{ width: 100%; float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: italic; font-size: 12px; line-height: 15px; color: #888; 
												  padding: 5px 0px 0px 5px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.rotmPreview-sectionContent .generalBtn-orange, 
		.rotmPreview-sectionContent .generalBtn-orange:hover	 { margin: 10px 0px 0px 5px; }
	.rotmPreview-sectionImage					{ width: 460px; height: 260px; float: right; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; overflow: hidden; }
	.rotmPreview-sectionImage img				{ width: 100%; height: auto; }
	
	
		/* Gallery Filter */											  
	.nonProductGrid-filter						{ width: 420px; float: left; margin: 0px 0px 0px 0px; padding: 0px 20px 20px 20px; border-bottom: 1px solid #ccc;
												  background-image: url(../images/bg_gradientLight.png); background-repeat: repeat-x; background-position: left top;
												  background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%;  }
	.nonProductGrid-filter-title				{ width: 100%; float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; font-size: 18px; line-height: 16px; color: #d14001; text-transform: uppercase; 
												  padding: 0px 0px 5px 0px; margin: 0px 15px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.nonProductGrid-filter-note					{ width: 300px; float: left; font-family: Helvetica, Arial, sans-serif; font-style: italic; font-size: 9px; line-height: 12px; color: #191919;
												  padding: 11px 0px 0px 0px; margin: 0px 0px 0px 5px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.filter										{ float: left; }
	.filter label								{ float: left; font-family: "PlutoSansMedium", sans-serif; font-style: normal; color: #191919; font-size: 10px; line-height: 10px;
	 											  padding: 0px 0px 2px 2px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.filter	.formFieldContainer				 	{ width: 95px; float: left; margin: 0px 10px 0px 0px; }
	
	.filter select								{ height: 22px; float: left; font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 11px; line-height: 14px; color: #777;
	 											  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
												  
	/* GALLERY DETAIL */
	#rotmDetail .galleryTitle-upper,
		#caseStudiesDetail .galleryTitle-upper	{ padding: 6px 0px 0px 0px; margin: 0px 0px 0px 2px; font-size: 20px; line-height: 14px; }
	#rotmDetail .galleryTitle-lower,
		#caseStudiesDetail .galleryTitle-lower	{ padding: 0px 0px 10px 0px; margin: 0px 0px 0px -2px; font-size: 100px; line-height: 75px; }
	#rotmDetail .galleryTitle-section,
		#caseStudiesDetail .galleryTitle-section	{ width: inherit; padding: 0px 0px 0px 0px; }
	#rotmDetail .bodyContainer h1				{ width: 190px; }
	#caseStudiesDetail .bodyContainer h1		{ width: 180px; }
	.galleryTitle-dynamic						{ position: relative; top: 27px; height: 55px; width: 270px; float: left; 
												  font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 30px; line-height: 46px; color: #fff;  
												  text-transform: uppercase; text-align: center; letter-spacing: -2px; padding: 12px 0px 0px 0px; margin: 0px 0px 0px 0px; 
												  background-color: #191919; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }

	#caseStudiesDetail .galleryTitle-dynamic	{ width: 280px; font-size: 16px; letter-spacing: 0px; }
	.galleryDetailPreview-sectionContent		{ min-height: inherit; width: 430px; float: left; margin: 0px 0px 0px 0px; padding: 0px 15px 20px 15px; background-color: #eee; }
	.galleryDetail-info							{ width: 50%; float: left; margin: 15px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	.galleryDetail-infoUser						{ width: 100%; }
	.utility-sideCol-sectionInner-user			{ width: 350px; float: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	.galleryDetail-info h2						{ width: 100%; float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 24px; line-height: 20px; color: #191919;												  												  text-transform: none; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	
	.galleryImagesContainer						{ width: 458px; float: left; margin: 20px 0px 15px 0px; padding: 0px 0px 20px 0px; border: 1px solid #ccc; }
	.galleryImage-main							{ width: 458px; height: 300px; float: left; overflow: hidden; }
	.galleryCaption-main						{ float: left; padding: 0px 0px 0px 0px; margin: 10px 17px 10px 17px; }
	.galleryCaption-main p						{ font-family: "PlutoSansRegular", sans-serif; font-style: normal; font-size: 11px; line-height: 15px; color: #454545; border-bottom: 1px solid #ddd;
												  padding: 0px 0px 10px 0px; margin: 0px 0px 0px 0px;  -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.galleryImage-thumbsContainer				{ float: left; padding: 0px 0px 0px 0px; margin: 10px 0px 0px 17px; }
	.galleryImage-thumb							{ width: 60px; height: 70px; overflow: hidden; float: left; padding: 0px 0px 0px 0px; margin: 0px 10px 0px 0px; border: 1px solid #ccc; } 
	.galleryImage-thumb:hover					{ cursor: pointer; }
	.galleryImage-thumb img						{ width: 85px; height: auto; }
	
	
	/* DIY GUIDES */
	.diyTitle-section							{ width: 420px; float: left; margin: 0px 0px 0px 0px; padding: 15px 0px 0px 20px; }
	.diyTitle-upper								{ float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 95px; line-height: 72px; color: #191919;  
												  text-transform: uppercase; padding: 0px 0px 0px 2px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }											    .diyTitle-mid								{ float: left; font-family: 'PlutoSansHeavy', sans-serif; font-style: normal; font-size: 116px; line-height: 94px; color: #191919; 
												  text-transform: uppercase; letter-spacing: -8px; padding: 7px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	
		
													  											  
	}



/* #Mobile (Portrait) size to Mobile Landscape Size (devices and browsers)
======================================================================================================================================================
======================================================================================================================================================
====================================================================================================================================================== */
	@media only screen and (max-width: 479px) {
		
/*//// GALLERY & DIY GUIDE PAGES ////////
////////////////////////////*/
	/* GENERAL STYLES */
	.bodyContainer								{ width: 300px; float: left; margin: 20px 0px 0px 0px; }	
	.bodyContainer h1							{ float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 38px; line-height: 38px; color: #191919; 
												  text-transform: uppercase; letter-spacing: -1px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.bodyContainer h3							{ float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 13px; line-height: 15px; color: #d14001;
												  padding: 5px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.bodyContainer h2							{ width: 100%; float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; font-size: 16px; line-height: 14px; color: #d14001; text-transform: uppercase; 
												  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.bodyContainer h4							{ width: 100%; float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; font-size: 12px; line-height: 14px; color: #191919;
												  padding: 20px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.utility-contentContainer					{ width: 300px; float: left; margin: 20px 0px 0px 0px; }
	.utility-section							{ width: 300px; float: left; margin: 30px 0px 0px 0px; padding: 0px 0px 20px 0px; border-bottom: 1px solid #ccc; }
	.utility-sectionSpecial						{ width: 100%; float: left; margin: 15px 0px 0px 0px; padding: 0px 0px 15px 0px; }
	.utility-sectionContent						{ width: 280px; float: left; margin: 0px 0px 0px 0px; padding: 0px 10px 0px 10px; }
	.utility-sectionContent h4					{ text-transform: uppercase; padding: 20px 0px 5px 0px; margin: 0px 0px 5px 0px; border-bottom: 1px solid #ddd; }
	.utility-sectionContent .generalBtn-orange,
		.utility-sectionContent .generalBtn-orange:hover	 { margin: 15px 0px 0px 0px; }
	
	.utility-sideColContainer2					{ width: 300px; float: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; border-bottom: none; }	
	.utility-contentContainer2					{ width: 300px; float: left; margin: 20px 0px 0px 0px; }
	
	.utility-sectionFirst						{ margin-top: 0px; }
	
	/* GENERAL STYLES Cont... */	
		/* Bread Crumb | Print | Share */
	.breadCrumb-utilityContainer				{ width: 300px; float: left; margin: 0px 0px 0px 0px; border-bottom: 1px solid #ccc; }	
	.productUtility								{ float: right; padding: 8px 10px 8px 0px; margin: 0px 0px 0px 0px; }	
	
		/* Tab Nav */			
	.utility-tabNavContainer					{ width: 300px; float: left; margin: 20px 0px 5px 0px; border-bottom: none; }
	.tabNav										{ width: 300px; float: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	.tabNav h1 									{ font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 11px; line-height: 9px; color: #fff; text-transform: uppercase;
	 											  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.tabNav li 									{ font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 11px; line-height: 9px; color: #fff; text-transform: uppercase; text-align: left;
	 											  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.tabNav a									{ width: 285px; float: left; color: #191919; padding: 7px 7px 7px 8px; margin: 0px 0px 5px 0px; background-color: #eee; border-right: none; }
	.tabNav-active a							{ border-right: none; }
	.tabNav-lastChild a							{ border-right: none; margin: 0px 0px 0px 0px; }
	
		/* NonProduct Grid */
	.nonProductGridContainer-wide				{ width: 300px; float: left; margin: 10px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	.nonProductGrid-wide li						{ width: 280px; border-right: none; }											  
	
	.nonProductGrid-wide-image				 	{ width: 280px; height: 190px; }
	.nonProductGrid-wide-image img				{ width: 100%; height: auto; }
	.nonProductGrid-wide-info					{ width: 280px; float: left; }

	
	/* GALLERY */
	.galleryTitle-section						{ float: left; margin: 0px 0px 0px 0px; padding: 0px 15px 0px 0px; }
		#rotm .galleryTitle-section					{ width: 285px; padding: 0px 15px 0px 0px; }
		#customerProjects .galleryTitle-section		{ width: 285px; padding: 0px 15px 0px 0px; }
		#caseStudies .galleryTitle-section			{ width: 285px; padding: 0px 15px 0px 0px; }
	.galleryTitle-upper							{ width: 100%; float: left; font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 16px; line-height: 14px; color: #191919; text-transform: uppercase; 
												  letter-spacing: 0px; padding: 2px 0px 0px 2px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }											    .galleryTitle-lower							{ float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 48px; line-height: 36px; color: #191919; 
												  text-transform: uppercase; letter-spacing: 0px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.galleryPreview-content						{ float: left; margin: 15px 0px 0px 0px; padding: 0px 0px 10px 0px; }
		#customerProjects .galleryPreview-content	{ width: 300px; }
		#caseStudies .galleryPreview-content		{ width: 300px; }
	.galleryPreview-content p					{ width: 100%; float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 12px; line-height: 15px; color: #888; 
												  padding: 0px 0px 0px 2px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.rotmPreview-sectionContent					{ width: 275px; float: left; margin: 25px 0px 0px 0px; padding: 0px 15px 20px 10px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;
												  background-image: url(../images/bg_gradientLight.png); background-repeat: repeat-x; background-position: left top;
												  background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
	.rotmPreview-info h2						{ float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 400; font-size: 24px; line-height: 22px; color: #191919;   
												  text-transform: none; padding: 15px 0px 0px 5px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }											    .rotmPreview-info h3						{ width: 100%; float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: italic; font-size: 12px; line-height: 15px; color: #888; 
												  padding: 5px 0px 0px 5px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.rotmPreview-sectionContent .generalBtn-orange, 
		.rotmPreview-sectionContent .generalBtn-orange:hover	 { margin: 10px 0px 0px 5px; }
	.rotmPreview-sectionImage					{ width: 300px; height: 220px; float: right; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; overflow: hidden; }
	.rotmPreview-sectionImage img				{ width: 100%; height: auto; }
	
		/* Gallery Filter */											  
	.nonProductGrid-filter						{ width: 260px; float: left; margin: 0px 0px 0px 0px; padding: 0px 20px 10px 20px; border-bottom: 1px solid #ccc;
												  background-image: url(../images/bg_gradientLight.png); background-repeat: repeat-x; background-position: left top;
												  background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%;  }
	.nonProductGrid-filter-title				{ float: left; font-family: 'PlutoSansBold', sans-serif; font-style: normal; font-size: 18px; line-height: 16px; color: #d14001; text-transform: uppercase; 
												  padding: 0px 0px 5px 0px; margin: 0px 50px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.nonProductGrid-filter-note					{ width: 260px; float: left; font-family: Helvetica, Arial, sans-serif; font-style: italic; font-size: 9px; line-height: 12px; color: #191919;
												  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.filter										{ float: left; }
	.filter label								{ float: left; font-family: "PlutoSansMedium", sans-serif; font-style: normal; color: #191919; font-size: 10px; line-height: 10px;
	 											  padding: 0px 0px 2px 2px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.filter	.formFieldContainer				 	{ width: 120px; float: left; margin: 0px 10px 10px 0px; }
	
	.filter select								{ height: 22px; float: left; font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 11px; line-height: 14px; color: #777;
	 											  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }											  									  
	/* GALLERY DETAIL */
	#rotmDetail .galleryTitle-upper,
		#caseStudiesDetail .galleryTitle-upper		{ padding: 6px 0px 0px 0px; margin: 0px 0px 0px 2px; font-size: 16px; line-height: 14px; }
	#rotmDetail .galleryTitle-lower,
		#caseStudiesDetail .galleryTitle-lower		{ padding: 0px 0px 10px 0px; margin: 0px 0px 0px -2px; font-size: 100px; line-height: 75px; }
	#rotmDetail .galleryTitle-section,
		#caseStudiesDetail .galleryTitle-section	{ width: inherit; padding: 0px 0px 0px 0px; }
	.galleryTitle-dynamic,
		#caseStudiesDetail .galleryTitle-dynamic	{ width: 300px; float: left; font-family: 'PlutoSansMedium', sans-serif; font-style: normal; font-size: 24px; line-height: 26px; color: #fff; text-transform: uppercase; 
												  text-align: center; letter-spacing: -1px; padding: 8px 0px 6px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; 
												  background-color: #191919; }
	.galleryDetailPreview-sectionContent		{ min-height: inherit; width: 270px; float: left; margin: 10px 0px 0px 0px; padding: 0px 15px 20px 15px; background-color: #eee; }
	.galleryDetail-info							{ float: left; margin: 10px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	.galleryDetail-infoUser						{ width: 100%; }
	.utility-sideCol-sectionInner-user			{ float: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
	.galleryDetail-info h2						{ width: 100%; float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 24px; line-height: 20px; color: #191919;												  												  text-transform: none; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	
	.galleryImagesContainer						{ width: 298px; float: left; margin: 20px 0px 15px 0px; padding: 0px 0px 10px 0px; border: 1px solid #ccc; }
	.galleryImage-main							{ width: 298px; height: 200px; float: left; overflow: hidden; }
	.galleryCaption-main						{ float: left; padding: 0px 0px 0px 0px; margin: 10px 16px 10px 16px; }
	.galleryCaption-main p						{ font-family: "PlutoSansRegular", sans-serif; font-style: normal; font-size: 11px; line-height: 15px; color: #454545; border-bottom: 1px solid #ddd;
												  padding: 0px 0px 10px 0px; margin: 0px 0px 0px 0px;  -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.galleryImage-thumbsContainer				{ float: left; padding: 0px 0px 0px 0px; margin: 10px 0px 0px 16px; }
	.galleryImage-thumb							{ width: 80px; height: 70px; overflow: hidden; float: left; padding: 0px 0px 0px 0px; margin: 0px 10px 10px 0px; border: 1px solid #ccc; } 
	.galleryImage-thumb:hover					{ cursor: pointer; }
	.galleryImage-thumb img						{ width: 85px; height: auto; }
	
	
	/* DIY GUIDES */
	#diyLanding .utilityBodyContainer			{ margin: 0px 0px 0px 0px; }	
	#diyLanding .utility-sectionSpecial			{ margin: 0px 0px 20px 0px; padding: 0px 0px 15px 0px; border-radius: 0px 0px 8px 8px; overflow: hidden;
												  background-image: url(../images/bg_diyGuides.jpg); background-repeat: no-repeat; background-position: left bottom; }
	.diyTitle-section							{ width: 285px; float: left; margin: 0px 0px 0px 0px; padding: 15px 0px 0px 20px; }
	.diyTitle-upper								{ float: left; font-family: 'franklin-gothic-ext-comp-urw', sans-serif; font-style: normal; font-weight: 700; font-size: 48px; line-height: 36px; color: #191919;  
												  text-transform: uppercase; padding: 0px 0px 0px 2px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }											    .diyTitle-mid								{ float: left; font-family: 'PlutoSansHeavy', sans-serif; font-style: normal; font-size: 72px; line-height: 54px; color: #191919; 
												  text-transform: uppercase; letter-spacing: -5px; padding: 7px 0px 0px 0px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	.diyTitle-lower								{ float: left; font-family: 'PlutoSansRegular', sans-serif; font-style: normal; font-size: 12px; line-height: 15px; color: #888; 
												  text-transform: uppercase; padding: 3px 0px 0px 3px; margin: 0px 0px 0px 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
	
	.diyPreview-content							{ float: left; margin: 5px 0px 0px 0px; padding: 0px 0px 25px 0px; }
	.diyPreview-spec							{ width: 100%; float: left; padding: 0px 0px 0px 3px; margin: 10px 0px 0px 0px; }						  
	
	#diyLanding .nonProductGrid-wide-image			{ width: 280px; height: 190px; float: left; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; overflow: hidden; }
	#diyLanding .nonProductGrid-wide-image img		{ width: 100%; height: auto; }
	#diyLanding .nonProductGrid-wide-info			{ width: 260px; float: left; margin: 0px 0px 0px 0px; padding: 10px 10px 0px 10px;
												  	  background-image: url(../images/bg_gradientLight2.png); background-repeat: repeat-x; background-position: left top;
												  	  background-size: 1px 100%; -webkit-background-size: 1px 100%; -moz-background-size: 1px 100%; }
	
		
		
	}


